[2014-08-23 04:19] shane-axiom opened #299 "cdm_data_type confusion"
I don't think this is actually a problem with the NetCDF Java code, but wanted to get some clarification before I ask others to update the ACDD and NODC netCDF feature template documentation.

There seems to be some incorrect info on those pages on the cdm_data_type global attribute. As I understand it this attribute is specifically for NetCDF Java, and is used as an explicit way to designate the

[2019-02-18 23:13] JohnLCaron opened #38 "GribCollection fails in general case of CoordinateTime2D"
This issue has been there forever, but the recent change of the default "ignore zero intervals" (was true, now false), has exposed the problem in one or more of our test datasets.

Reproduce by creating an ncx4 from cdmUnitTest/datasets/NDFD-CONUS-5km/.*grib2.

eg put the above expression in ToosUI,  IOSP/Grib2/Grib2Collection, then choose (rightmost icon) "Write Index", you will get:

GribCoverag

[2019-07-16 22:34] msdsoftware opened #22 "Support GRIB GDT 140 and PDT 73"
A user sent me a GRIB2 file of ECMWF flood data that netCDF-Java will not open.

The first problem I encountered in trying to figure out why e.g. Panoply and IDV would not open the file is that it specified Grid Definition 140, which is the Lambert Azimuthal Equal Area projection. Some Googling indicates that this projection was first proposed for addition to GRIB in 2012, which I expect is after

[2019-07-19 22:10] msdsoftware commented on #22
The dataset creator has suggested they might switch to a different Product Definition Template. He didn't say which, but I would think it would be likely one of the other forecast templates 70-72.

[2019-07-22 14:50] lesserwhirls commented on #22
Thanks for the report, @msdsoftware! I'll take a look once we get 5.0.0 stable out the door (likely today). Do you have a sample file I could work with? Even if they switch templates, it'd still be nice to take a look and see if we can support it.

[2019-07-23 06:35] msdsoftware commented on #22
@lesserwhirls, I have a couple sample datasets. Would have to double-check but I think one should be okay for redistribution.

[2019-07-29 16:37] cofinoa commented on #22
@msdsoftware please can you share the sample datasets?

[2019-07-30 13:26] jbzambon opened #43 "Issue with WMS loading >2GB variables"
I am attempting to load a large dataset (4200x4100) with 21 timesteps into WMS using THREDDS.  When I do so, it fails and the page returns...

[code]

and threddsServlet.log returns...

`2019-07-30T01:56:09.069 +0000 [     30415][       5] ERROR - thredds.server.wms.ThreddsWmsController - dispatchWmsRequest(): Exception:
java.lang.IllegalStateException: nLon (=0) and nLat (=2147483647) must be pos

[2019-07-31 22:54] lesserwhirls opened #41 "ucar.unit.prefs and the TDS"
The removal of `ucar.unit.prefs` removed from `cdm` impacted the TDS (Unidata/tds#23) (oops). I need to setup a Jenkins run (hopefully tomorrow) to check PRs against netCDF-Java to make sure the TDS still at least compiles (not a show stopper for a PR, but at least we'd have a heads-up), but for now, this issue exists. Maybe the TDS does not need to be storing preferences this way, so one option i

[2019-07-31 23:16] lesserwhirls opened #42 "New NEXRAD related failure"
New failure in `ucar.nc2.iosp.nexrad2.TestNexrad2.testRead` on Jenkins (possibly related to Unidata/netcdf-java#37).

[code]

Does not consistently bomb out on a particular file or after processing particular number of files.

[2019-08-01 00:08] JohnLCaron commented on #42
My apologies, I obviously didnt get that refactor right. Its intermittent because it deals with the case of producing an uncompressed file, which it then leaves in place.

The logic is rather fiendish, probably we should roll the PR back until I can fix. Umm, how do you do that?

[2019-08-01 00:20] JohnLCaron commented on #41
I think its really a tds problem, so ive commented on (Unidata/tds#23).

[2019-08-01 14:24] lesserwhirls commented on #42
No need to apologize! That's why we have tests :-) I can roll back just the nexrad changes, but I think I found the underlying problem. As part of your PR, you moved to using try-with-resource here:

https://github.com/Unidata/netcdf-java/blob/b935573eda490c5a4dd301a6cb14a0e0f00c32d9/cdm/src/main/java/ucar/nc2/iosp/nexrad2/Level2VolumeScan.java#L683

Good stuff. Within that try-with-resource block

[2019-08-01 14:32] #41 closed

[2019-08-01 17:20] JohnLCaron commented on #42
I dont understand then why it wouldnt fail every time?

[2019-08-01 17:45] lesserwhirls commented on #42
I think it's because the lock is only obtained when decompressing, otherwise `lock=null`. The test bombs out on the first file it encounters that needs to be decompressed.

[2019-08-01 18:52] JohnLCaron commented on #42
Ok, I have it in the debugger and I agree with your analysis. I think we could just ditch the finally block all together.

[2019-08-03 00:19] #42 closed

[2019-08-03 00:19] #43 closed

[2019-08-03 20:47] jbzambon commented on #43
Seems to be working great, thanks!

[2019-08-14 13:45] cofinoa opened #58 "The CDMDSP ignores ncml and thredds type datasets"
ncml files (and probably more types) are ignored as netcdf files.
The dataset should be opened using the netcdfDataset.open methods.

https://github.com/Unidata/netcdf-java/blob/c74b0bbd3c0d0797c539cf43afff79db34ea4b24/dap4/d4cdm/src/main/java/dap4/cdm/dsp/CDMDSP.java#L117-L118

This relates with issue Unidata/tds#30

N.B: @zequihg50 this FYI

[2019-08-14 22:23] lesserwhirls commented on #58
@DennisHeimbigner - tagging you on this one.

[2019-08-14 22:27] DennisHeimbigner commented on #58
I am aware of the problem, although it dropped off my radar recently.
The problem is that it requires some significant re-factoring of the code
to work with a NetcdfFIle instead of the string file name and I could not figure out a good solution.

[2019-08-16 17:00] DennisHeimbigner commented on #58
I reviewed my experimental changes
that are in another branch.
I believe the situation is that
the DAP4 code has support for data sources
other than those that can be represented as
NetcdfFile objects. In particular, it also
handles streams and files containing direct
DAP4 protocol encoded information.

These are used as follows:
1. Data sources representable as NetcdfFile objects
   are used by C

[2019-08-16 17:46] cofinoa commented on #58
But I think that one of the problems is that CDMDSP it's opening a CDM dataset, first as NetcdfFile and then passing that object to the NetcdfDataset to enhance it as CDM dataset. This way of opening the CDM datasets overlooks the Netcdf dataset open/acquire methods which are able to open datasets defined as NcML, thredds or cdmremote and many more cases. The netcdf file open methods "only" unders

[2019-08-16 18:06] DennisHeimbigner commented on #58
The distinction between NetcdfFile and NetcdfDataset is partly historical.
The NetcdfDataset does not require an underlying file whereas NetcdfFile  does.
Also, If memory serves, NetcdfDataset is the place where coordinate systems
are attached.
As for IOSP, as a rule, the IOSP is hidden behind NetcdfFile or NetcdfDataset.
THe OpenDAP code is an example where NetcdfDataset is used and there is
no O

[2019-08-17 17:39] lesserwhirls opened #64 "Enable the new Slow test category where appropriate"
PR Undiata/netcdf-java#57 added a new test category: `ucar.unidata.util.test.category.Slow`. Currently, tests annotated with that category will always be ignored. At a minimum, we should still run these tests on Jenkins. The bigger question, however, is if we want to be able to turn these on locally with ease (say, with a java option?). More info at https://github.com/Unidata/netcdf-java/pull/57#d

[2019-08-17 20:02] JohnLCaron opened #65 "GridCoverage failing (probably) on MRUTC"
TestCoordinatesMatchGbx.readGrib1Files() fails on:

/usr/local/google/home/jlcaron/thredds/cdmUnitTest/formats/grib1/QPE.20101005.009.157 Total_precipitation_surface_Accumulation
expected: 2010-10-05T18:00:00Z
but was : 2010-10-05T12:00:00Z
	at ucar.nc2.grib.GribCoordsMatchGbx.readAndTestGrib1(GribCoordsMatchGbx.java:389)
	at ucar.nc2.grib.GribCoordsMatchGbx.readCoverageData(GribCoordsMatchGbx.jav

[2019-08-17 20:02] JohnLCaron commented on #65
/usr/local/google/home/jlcaron/thredds/cdmUnitTest/formats/grib1/QPE.20101005.009.157

As a grib collection proto (ncx4) :

othogonalize it 24 x 5 MRUTC Multiple Runtime Unique Time Collection
time2D: time1 runtime=reftime nruns=24 ntimes=5 isOrthogonal=true isRegular=false
  All time values= (0,1), (0,6), (6,12), (12,18), (18,24), (n=5)
  timeIntv: (0,1), (0,6), (6,12), (12,18), (18,24), (5)

Spa

[2019-08-17 20:06] JohnLCaron commented on #65
I was guessing that  we are using subsetValuesClosest, so always finding some index, even when its the wrong one. Need to add some strict unit tests on CoordAxisHelper to see.

Also may be a problem when there is no record for that index. In this case there are 28/120 records present. Also its a  discontiguousInterval.

[2019-08-25 18:53] JohnLCaron opened #80 "Nexrad bz2 compressed files failing to uncompress"
To report a non-security related issue, please provide:

* the version of the software with which you are encountering an issue
* environmental information (i.e. Operating System, compiler info, java version, python version, etc.)
* a description of the issue with the steps needed to reproduce it

If you have a general question about the software, please view our [Suggested Support Process](https:

[2019-08-25 18:54] JohnLCaron commented on #80
TestNexrad2 and TestNexrad2HiResolution are failing on 5.1. eg:

[12:48:20.551 WARN  ucar.nc2.NetcdfFile] Failed to uncompress file D:/cdmUnitTest/formats/nexrad/newLevel2/testfiles/fosr1_2007_06_19_19_38_48.bz2
ucar.unidata.io.bzip2.BZip2ReadException: CRC error: storedBlockCRC != computedBlockCRC

Need to check is succeed on 4.X
If so, must have hosed it up in refactor.

[2019-09-03 22:09] JohnLCaron commented on #80
Fixed by PR #81

[2019-09-03 22:09] #80 closed

[2019-09-03 22:15] JohnLCaron opened #89 "SequenceDS extends StructureDS, probably should extend Sequence"
We need to enhance StructureData, but extending StructureDS is probably wrong, becuase Sequences dont contain ArrayStructure's.

The enhance functionality should be a mixin I suspect.

See discussion and bug report from netty.jawn@web.de on Sep 2, 2019 on netcdf-java mailing list

[2019-09-11 08:09] ggdupont opened #98 "Source code for version 4.6.14"
* version with which you are encountering an issue: 4.6.14
* environmental information: N/A
* a description:
I'm using netcdf-java in a project but I encountered issues with overwritted google-guava dependencies. It seems to be hidden in netcdf but not at the same version of my project.
Thus, I'm looking for the codebase of the 4.6.14 to double check the dependencies and versions. Where is it? Mor

[2019-09-11 22:56] lesserwhirls commented on #98
Greetings!

Version 4.6.14 of the netCDF-Java library (as well as the THREDDS Data Server) lives here:

https://github.com/Unidata/thredds/

and the tag for that version specifically is here:

https://github.com/Unidata/thredds/releases/tag/v4.6.14

Our dependencies and their versions are managed in [gradle/dependencies.gradle](https://github.com/Unidata/thredds/blob/master/gradle/dependencies.gra

[2019-09-16 13:21] hlernbeiss opened #103 "NcMLWriter does not write integer variable values as integers"
In NetCDF-Java version 5.0.0:

In method `makeValuesElement(Variable, boolean)` of class `NcMLWriter` there obviously is the intention to separate writing of floating point values and integer values (by the boolean variable `isRealType`), but appending to the string builder (buffer) is always made through `StringBuilder.append(double)` since the used ternary operator will always have a result of t

[2019-09-17 11:49] #98 closed

[2019-09-17 11:56] lesserwhirls opened #104 "Separate client and server code in opendap module"
Client code stays here, server code goes to https://github.com/unidata/tds

[2019-09-17 11:59] lesserwhirls opened #105 "Module Reorganization"
With an eye towards supporting the Java Platform Module System, as well as clearly identifying a public API, this is a first pass at reorganizing our modules. For v5.2, the reorg will try to not break the API. Uber artifacts, like `toolsUI.jar` and `netcdfAll.jar` should remain the same content-wise.

Items:
* [x] Unidata/netcdf-java#106
* [ ] Unidata/netcdf-java#107

[2019-09-17 12:01] lesserwhirls opened #106 "Split cdm module"
Related to Unidata/netcdf-java#105

Split the cdm module into the following new modules:

* `cdm-base` (netcdf3, netcdf4, hdf5, hdf4)
* `cdm-radial`
* `cdm-image` (was `clcommon`)
* `cdm-misc`
   * geotiff
   * dmsp
   * grads
   * misc
   * noaa
   * shapefile (move from `uibase`)

[2019-09-17 12:05] lesserwhirls opened #107 "Split visad module"
Related to Unidata/netcdf-java#105

Split the `visad` module into the following new modules:

* mcidas/gempak
* visad5

The dividing line here is that mcidas and gempak IOSPs depend very little on `visad.jar`, and can pull in the necessary code to keep them working. the vis5d IOSP depends heavily on `visad.jar`, so it can be split off into its own module to allow uses to pull in that dependency or

[2019-09-17 12:09] lesserwhirls opened #108 "Use Server Provider interface for IOSP"

[2019-09-17 12:10] lesserwhirls opened #109 "Use Server Provider interface for protocols (S3, HDFS, dap4, other…)"
Currently dods, dap4 are done by reflection in `ucar.nc2.dataset.NetcdfDataset.openOrAcquireFile`

[2019-09-17 12:13] lesserwhirls opened #110 "Upgrade to current gradle release"
Upgrade the project to use the latest version of gradle (currently using v3.5.1, latest is v5.6.2). This will allow us to at least attempt to build and test the project with Java 11 (although still only using Java 8 features).

[2019-09-17 12:15] lesserwhirls commented on #109
HDFS, S3 being added in v5.3 (currently in a feature branch over at https://github.com/Unidata/thredds)

[2019-09-17 12:18] lesserwhirls opened #111 "Mainline HDFS and S3 RandomAccessFile support"
Make HDFS and S3 RandomAccessFile (and company) part of mainline codebase (currently in a [feature branch](https://github.com/Unidata/thredds/compare/5.0.0...feature/s3+hdfs)). These should be in separate modules, and use the Server Provider interface, especially since S3 support drags in aws dependencies. See related Unidata/netcdf-java#109

[2019-09-17 12:29] lesserwhirls commented on #104
Closed byUnidata/netcdf-java#100

[2019-09-17 12:29] #104 closed

[2019-09-17 12:30] lesserwhirls commented on #108
See Unidata/netcdf-java#101

[2019-09-17 12:57] lesserwhirls opened #112 "Use new (yet-to-be-created) netcdf4-native"
* Bundle netcdf-c native libs for mac, windows, linux in single jar.
* Extend netcdf4 module code to make one last attempt to find a suitable library on the classpath (using [JNA extractResourceFromPath](http://java-native-access.github.io/jna/5.4.0/javadoc/com/sun/jna/Native.html#extractFromResourcePath-java.lang.String-)).

[2019-09-17 13:03] lesserwhirls opened #113 "Deprecate ucar.nc2.dt"
Deprecate classes in `ucar.nc2.dt`.

* `ucar.nc2.dt.grid` deprecated in favor of `ucar.ft2.coverage`
* `ucar.nc2.dt.radial` deprecated in favor of `ucar.ft.radial`

Actual removal of `ucar.nc2.dt` will not occur until netcdf-java v7.

[2019-09-17 13:04] lesserwhirls opened #114 "Possible rewrite of FileCache with Guava LoadingCache"
Look at rewriting `FileCache` with Guava `LoadingCache`.

[2019-09-17 13:10] lesserwhirls opened #115 "Open questions related to udunits package"
Open questions to address or get into milestone related to the udunits module:

* Do we support same grammar as udunits-2
  * Bison grammar - we have javacc .jj grammar files, udunits-2 C uses bison .y grammar files
* Do we support same database of units? What’s different?
   * Good place to start - test against [this](https://docs.unidata.ucar.edu/thredds/udunits2/current/udunits2_combined.xml)

[2019-09-17 16:30] JohnLCaron commented on #107
Vis5D is not currently loaded into the IOSPs.
So the only possible use is someone calling it directly, maybe the IDV?
Would be easy to check by grepping their code.

[2019-09-18 23:32] JohnLCaron opened #120 "cdmremote fails on https: URL"
works:
http://thredds.ucar.edu/thredds/cdmremote/grib/NCEP/GFS/Pacific_20km/GFS_Pacific_20km_20190918_1200.grib2

fails:
https://thredds.ucar.edu/thredds/cdmremote/grib/NCEP/GFS/Pacific_20km/GFS_Pacific_20km_20190918_1200.grib2

error message:
ucar.httpservices.HTTPException: java.net.URISyntaxException: Expected scheme-specific part at index 5: HTTP:
	at ucar.httpservices.HTTPAuthUtil.authscopeTo

[2019-09-18 23:38] JohnLCaron commented on #109
See #118

[2019-09-19 20:16] lesserwhirls commented on #107
I don't see Vis5DIosp used anywhere in the IDV. I'll ask our committees in a few weeks to see if they know of anyone using that capability, and I'll check the download metrics on visadCdm.jar from nexus to get an idea of overall usage.

[2019-09-21 21:53] lesserwhirls commented on #106
closed by Unidata/netcdf-java#124

[2019-09-21 21:53] #106 closed

[2019-09-21 21:54] lesserwhirls commented on #107
Closed by Unidata/netcdf-java#123

[2019-09-21 21:54] #107 closed

[2019-09-21 21:54] #105 closed

[2019-09-21 22:55] lesserwhirls opened #126 "dap4.test.TestNc4Iosp failure on Jenkins"
We have a new failure on Jenkins for `dap4.test.TestNc4Iosp.testNc4Iosp`. This started showing up when the way we load IOSPs changed with PR 101 (see https://github.com/Unidata/netcdf-java/pull/101/files for the changes).

My suspicion is that the change caused the dap4 library to use the `Hdf5Iosp` instead of the `Nc4Iosp`. The code should handle both cases, but I think what we see is that there

[2019-09-23 19:03] DennisHeimbigner commented on #126
This appears to be an example of the
problem that only dap4 properly builds CDM enum types.
All the other case (including hdf5) do not properly use the enumeration
type name.(hence the cloud_class_t). This is another example
where the handling of netcdf4/hdf5 tranlation to CDM is incomplete.

[2019-10-08 21:13] JohnLCaron opened #136 "Investigate getting rid of our one-off JPEG-2000 library"
http://docs.geotools.org/latest/userguide/library/coverage/jp2k.html implies that theres something in imageIO. However, imageIO may use native code.

https://kakadusoftware.com/ is a commercial library.

Seems unlikely, but Im leaving it here for future references.

[2019-10-15 17:57] #108 closed

[2019-10-15 17:58] #109 closed

[2019-10-25 00:00] lesserwhirls opened #140 "Reading web netCDF data: Connection timed out when looking for https resource (but it timed out looking for http resource)"
From the [mailing list](https://www.unidata.ucar.edu/mailing_lists/archives/netcdf-java/2019/msg00022.html)

---

When using `cdm-core-5.2.0`, when attempting to access a netCDF resource on a server that serves https on port 443 but does not serve http on port 80, attempting to access the https resource fails but with a message indicating it tried port 80.

See redacted stack trace below.

I wonde

[2019-10-25 00:02] lesserwhirls commented on #140
@DennisHeimbigner - any thoughts on this one?

[2019-10-25 00:45] rschmunk commented on #140
Possibly a related issue: I am trying to figure out why when acquiring a remote dataset, my Panoply app using NJ 5.2 is displaying a userid/passwd credential dialog twice. In doing so I am checking the server logs to see what requests are being made. Note that this is a static file on a website, not something on a THREDDS or other data server. So I am specifically requesting myfile.nc with an HTTP

[2019-10-25 17:30] lesserwhirls commented on #140
Thank you for the report @rschmunk! I think these are related issues, likely introduced by PR Unidata/netcdf-java#117. Those changes are documented [here](https://github.com/DennisHeimbigner/netcdf-java/commit/30d708e957a34c72edd8988a5b75ab3b4395b61b#diff-05817f0c238dc4e9275aae895526ccd1). I meant to get this specific doc into our main docset, but it didn't make it (my apologies).

[2019-10-25 17:31] lesserwhirls commented on #120
@DennisHeimbigner - here is another `httpservices` related issue concerning `https`.

[2019-10-25 20:41] DennisHeimbigner commented on #140
What is port 301 and why is it being redirected to?

[2019-10-25 21:20] DennisHeimbigner commented on #120
Found the problem; will have PR shortly.

[2019-10-25 23:46] rschmunk commented on #140
@DennisHeimbigner, Sorry, all those "redirects to port 301" should be "redirects to port 443".

[2019-10-26 01:43] DennisHeimbigner commented on #140
This is a bit complex (probably over complex). When you make a request to a server,
it is the context of a set of "credentials providers". This set is associated with
an HTTPSession instance. So if you make server requests with different HTTPSession
instances, then the user+password dialog will repeat once for each of those
instances. Determining this requires looking at the code  and cannot be de

[2019-10-27 19:25] JohnLCaron opened #143 "Bug adding coordsys to SimpleGeos/hru_soil_moist_vlen_3hru_5timestep.nc"
cdm/core/src/test/data/dataset/SimpleGeos/hru_soil_moist_vlen_3hru_5timestep.nc. (also in outflow_3seg_5timesteps_vlen.nc)

This is a netcdf-4 file with a variable length dimension, eg:
  double catchments_x(hruid=3, *);
    :axis = "X";

Open enhanced dataset so coordinate systems are added. Then try to read "catchments_x" coordinate, you get:

java.lang.ClassCastException: ucar.ma2.ArrayDouble$D

[2019-10-27 19:30] JohnLCaron commented on #143
Added test that fails into TestSimpleGeom.

[2019-10-27 19:44] JohnLCaron commented on #143
None of the files in /usr/local/google/home/jlcaron/github/repo2/netcdf-java/cdm/core/src/test/data/dataset/SimpleGeos

are parsed as a station feature type (via feature scan). Not sure whats up there, or what the "simple geometry" convention is. probably a seperate bug from this one, but will leave it bundled for now.

[2019-10-27 20:39] lesserwhirls commented on #143
The [CF Simple Geometry](http://cfconventions.org/cf-conventions/cf-conventions.html#geometries) support (added to CF via cf-convention/cf-conventions#115) was a contribution from USGS (Unidata/thredds#1207). @cschroed-usgs, any insights into this particular issue?

[2019-10-28 02:31] rschmunk commented on #140
@DennisHeimbigner, The only thing my code does directly vis a vis HTTPSession is to call its setGlobalUserAgent and setGlobalCredentialsProvider methods.

One thing I have discovered in the last few days is that the problem with the authentication dialog appearing twice, is that there are multiple getCredentials calls coming to my credentials provider, and that at some point, these calls switch fr

[2019-10-28 13:52] cschroed-usgs commented on #143
@lesserwhirls thanks for the shout-out. Nothing leaps to mind.

@JohnLCaron

That's likely true.

Thanks!  Can you please link to the test you mentioned?

I don't think the test files are intended to be parsed as station feature types. The CF Simple Geometries standard enables embedding spatial polygons (ex: watersheds, stream networks) inside NetCDF files. If there are station-like data in the te

[2019-10-30 00:44] JohnLCaron commented on #143
Hi Carl;

The test is on a branch not yet checked in, but here is the code:

<
@Test
  public void testCoordinateVariables() throws IOException {
    String tstFile = TestDir.cdmLocalTestDataDir + "dataset/SimpleGeos/outflow_3seg_5timesteps_vlen.nc";
    // open the test file
    try (NetcdfDataset ncd = NetcdfDataset.openDataset(tstFile)) {
      for (CoordinateAxis axis : ncd.getCoordinateAxes()

[2019-10-30 00:49] JohnLCaron commented on #143
There's a test file:

core/src/test/data/dataset/SimpleGeos/huc_helper_test.nc

[code]

that claims its a station file.   The CF simple geometry code lists station in a coordinate axis, but there is none:

[code]

it doesnt have a station coordinate, im thinking of removing it until someone can confirm its not malformed.

[2019-10-30 21:14] cschroed-usgs commented on #143
Thanks for your help. My involvement in this contribution was pretty high-level, so I'm not clear on several details, including the precise intent of the test data. As far as I can tell, that NetCDF file is only used by one test class which is running this implementation:
https://github.com/usgs/thredds/blob/74a45ae0abc6fcfa9a61f92f06bac85a4058861c/cdm/src/main/java/ucar/nc2/ft2/simpgeometry/CFSim

[2019-11-16 03:37] rschmunk opened #149 "Cannot open HDF-EOS swath file with unlimited dimension"
A user reported that Panoply could not open an HDF-EOS file and there was a "Conflicting Dimensions" exception message. The same occurs using toolsUI and IDV. Although the copy of Panoply was using netCDF-Java 5.1, I encountered the same problem when investigating using 5.3-SNAPSHOT.

The exception is thrown at line 262 of `ucar.nc2.iosp.hdf4.HdfEos`.After adding a lot of additional logging msgs,

[2019-11-16 03:41] rschmunk commented on #140
Pinging to see if anyone has looked into this further. The problem with trying to acquire a remote dataset from a URL that specifically says https, but finding that NJ is making queries to port 80 during the process is new to NJ 5.2. This does not occur when using software based on NJ 5.1.

[2019-11-19 01:07] JohnLCaron opened #150 "HDF5 not handling enum types correctly"
The following line in H5header has been commented out (without further explanation):

[code]

This means that the typedef is not added to the group.

Been there at least since thredds repo branch 4.x.

Will try to fix it in this repo, branch 5.3

[2019-11-20 00:50] lesserwhirls opened #152 "Possible clarification of GRIB 2D Datasets with regards to CF"
The 2D GRIB collection datasets currently do something that is not recommended by CF. It's not a requirement, but it is recommended.

As an easy to see example (not a TDS issue, as the code lives in netCDF-Java in the `grib` module, but easier to see through the TDS), if we look at the cdl representation of the [GFS 80km dataset on thredds-test](https://thredds-test.unidata.ucar.edu/thredds/catalo

[2019-11-20 03:29] dopplershift commented on #152
I think fixing this would also make xarray happier.

[2019-11-20 03:47] songyanglh opened #156 "find a function like python version"
I’m using netcdf-java,but I couldn’t find the funtion like the pyphon version.For example of python version,
data = NetcdfFile.open(filePath).varibles[‘temp’][rows]
--rows:Array for many X,Y points,like [[1,2],[4,5]],

This function can support to find points [1,2] and [4,5],tow points values,

but I find the java function only support to find the serial arrays values,is there

a function like pyt

[2019-11-20 15:51] ethanrd commented on #152
Should definitely change so the var/dim names don't match on a 2D variable.

I don't particularly like the idea of adding a place holder 1D coordinate variable that has no real meaning. Are they forecast hours?

I think you are right about this being a bug in the DAP2 code. The [DAP2 spec](https://cdn.earthdata.nasa.gov/conduit/upload/512/ESE-RFC-004v1.1.pdf) in Section 3.3.3 Grids refers to "map

[2019-11-25 07:01] rschmunk commented on #140
As an FYI, I will post a new Panoply release the next coupe days base on netCDF-Java 5.1. The load-remote issues prevent me from using NJ 5.2 or later.

[2019-11-25 11:30] omarbenhamid opened #157 "Creating Groups with NetcdfFileWriter.addGroup not working"
I use netcdf-java 5.2.0 on Windows with JDK 1.8.0. The file is Netcdf 4 format (HDF style)

It fails when I try to create a netcdf group with :
[code]

I get :
[code]

[2019-11-25 11:35] omarbenhamid commented on #157
BTW. The issue is that groupHash does not contain a group id for the newly created group, so get() returns `null` `Integer` object  then java raises a NullPointerException when it tries to auto unbox it to an `int`.

I managed to work around it by modifying the beginning of updateDimensions in Nc4Iosp.java this way, but I don't know if it is the right way / place to define the newly created groups

[2019-11-25 17:11] lesserwhirls commented on #140
Hello @rschmunk - I don't have an update to provide on my end. There was a pull request to address the issue (Unidata/netcdf-java#141), but the tests are failing, and I think I'm holding that up as I need to produce a video on how to get the debugger setup in IntelliJ for this situation. I'm going to try to work on that today, but unfortunately I don't think a fix will be in by the time you releas

[2019-11-25 17:44] lesserwhirls commented on #157
It's hard to tell from your error message text, but is this failing on the call to `n.setRedefineMode(false)`in your code?

In general, `NetcdfFileWriter.openExisting` can only be used to to read/write data to existing variables, and cannot create new objects (https://docs.unidata.ucar.edu/netcdf-java/5.2/javadoc/ucar/nc2/NetcdfFileWriter.html#openExisting-java.lang.String-). That said, we need to

[2019-11-25 18:59] lesserwhirls commented on #152
The new place holder 1D coordinate variable would have no real meaning, so yeah, I think we leave it out. The TDS DAP code would might need to create it as a Map though? I can get the dimension/variable name issue addressed, and then we can see if our DAP2 code will need fixed.

[2019-11-26 13:02] omarbenhamid commented on #157
The sample code was just a simple snippet to isolate what I tought was a big.

I have existing netcdf files to which I need to add new Variables in new groups.
If setRedifinitionMode(true) must not be called on a file obtained with openExisting() that would mean that there is no supported way to add groups to existing netcdf 4 files ?
I believe the issue is also raised with createNew. I'll try and

[2019-11-27 02:31] bickelj commented on #140
See https://www.unidata.ucar.edu/mailing_lists/archives/netcdf-java/2019/msg00025.html

[2019-11-30 20:31] JohnLCaron commented on #150
Fixed by PR #158

[2019-11-30 20:31] #150 closed

[2019-12-03 01:17] JohnLCaron commented on #152
Theres no reason for them to use the same name, they are generated independently and dont track each other. validtime would be a good name, since thats what it is.

Not sure why DAP2 has them as map vectors. Probably trying to shoehorn the more general notion of coordinates into the simpler DAP2 coordinate model. Should be removed.

Often the time coordinate can be "orthogonalized" into forecast t

[2019-12-03 01:21] JohnLCaron commented on #149
I just ported HDF-EOS to new 5.3 framework. Would be happy to test if we can get an example file.

[2019-12-03 07:03] rschmunk commented on #149
@JohnLCaron, see ftp URL given at the end of my initial post.

[2019-12-04 00:51] JohnLCaron commented on #149
The webpage at ftp://l5ftl01.larc.nasa.gov/pub/MOPITT/MOP02J.008/2017.08.17/MOP02J-20170807-L2V18.0.3.he5 might be temporarily down or it may have moved permanently to a new web address.

sean, have you downloaded?

[2019-12-04 12:47] lesserwhirls commented on #149
Hi @JohnLCaron - I did snag a copy, but not from the ftp server (I could not connect via browser or command line). I googled the file name and found it [here](https://l5eil01.larc.nasa.gov:22000/MOPITT/MOP02J.008/2017.08.07/MOP02J-20170807-L2V18.0.3.he5) (same server, but through https, ~320 MB).

[2019-12-05 00:37] dopplershift opened #160 "RadialVariable has bad implementation for getUnitsString()"
I'm not sure how important it is, but if you look at `getUnitsString` for a `RadialVariable`, the implementation is:

https://github.com/Unidata/netcdf-java/blob/8f15ecf5a8937dc3ec6b7de87a8fd02636ba0bfc/cdm/core/src/main/java/ucar/nc2/dt/radial/AbstractRadialAdapter.java#L375-L377

That's...less than helpful. I know at least NEXRAD puts useful information in the `units` attribute. Any reason not t

[2019-12-05 06:14] rschmunk commented on #149
Nice catch on that URL, @lesserwhirls. I was a little surprised to be given an ftp address in the first place as the agency has been shutting ftp sites down. I guess this one got the axe in the last week or two.

[2019-12-05 20:02] lesserwhirls opened #161 "Issue regarding the use of "dods:" in DODSNetcdfFile"
# TL;DR;

Making an HTTP GET request to `http://www.ncei.noaa.gov/thredds/dodsC/cdr/gridsat/GridSat-Aggregation.ncml.dods?time` works and `https://www.ncei.noaa.gov/thredds/dodsC/cdr/gridsat/GridSat-Aggregation.ncml.dods?time[0:1:1]` works, but `http://www.ncei.noaa.gov/thredds/dodsC/cdr/gridsat/GridSat-Aggregation.ncml.dods?time[0:1:1]` fails with a 403 (request too big).

Perhaps a server side i

[2019-12-05 20:02] lesserwhirls commented on #161
Tagging @DennisHeimbigner

[2019-12-06 01:24] JohnLCaron commented on #149
Sending a PR for this.
Would be good to put the file into TestDir.cdmUnitTestDir + "/formats/hdf5/MOP02J-20170807-L2V18.0.3.he5"

[2019-12-06 01:25] JohnLCaron commented on #149
Like @rschmunk, I didnt actually fix anything, just removed the fatal error. Its pretty obvious the ODL is wrong. Could retrofit to earlier versions.

[2019-12-07 04:13] lesserwhirls commented on #160
At least it works with UDUNITS? No reason ignore what's provided by an IOSP at a lower level, unless the unit is "OMGWHY"...that one is not even recognized by UDUNITS and should just be ignored I think.

![OMGWHY](https://media.giphy.com/media/MsUKQTpWE3UxW/giphy.gif)

[2019-12-14 05:03] rschmunk commented on #140
I spent some time this evening poking at the issues I described above using the latest NJ 5.3 snapshot, along with a bunch of additional logging msgs. I have a better idea of the process but didn't actually solve anything.

My code calls `HttpSession.setGlobalCredentialsProvider` and then `NetcdfDataset.acquireDataset`. The initial requests for the filename with appended "dds", "dmr.xml" and "?req

[2019-12-14 18:35] bickelj commented on #140
To be more explicit than the suggestion in https://www.unidata.ucar.edu/mailing_lists/archives/netcdf-java/2019/msg00025.html:
1. Apply pull request 141 to 5.3.0-tagged code (if I recall correctly it was 5.3.0).
2. Change line 355 of HTTPMethod (here https://github.com/Unidata/netcdf-java/pull/141/files#diff-ba10eb3354e2a26749dc76f46daa4fd7) to use the last three-parameter constructor of HttpHost

[2019-12-15 05:27] rschmunk commented on #140
@bickelj, Thanks very much, for the more detailed instructions. Implementing these changes resulted in no second, unneeded request for the credentials. I'll doublecheck the issue with unnecessary requests to port 80 on Monday when I can monitor the office server log.

[2019-12-18 19:39] tayloj opened #166 "NetcdfFile.openInMemory(URI) leaks open input stream (which keeps files from being deleted)"
`NetcdfFile.openInMemory(URI)` converts the URI to a URL and open an input stream from it to copy the contents to a byte array.  However, the input stream is never closed, which can leak an connection.  In the case that the URI is obtained from a file-based Path, this leaks a handle to the file, preventing the file from being deleted later.

I believe that this could be fixed by opening the URL st

[2019-12-23 02:10] dopplershift opened #167 "NEXRAD Message 31 Changes"
NEXRAD will be beta testing some Message 31 adjustments this spring as part of their normal beta testing of RPG/RDA build 19.0. These data are currently available from the FOP1 testbed, and I've attached a [sample file](https://github.com/Unidata/netcdf-java/files/3993339/Level2_FOP1_20191223_003655.ar2v.gz) that contains the format adjustments. This file does not completely parse with the current

[2019-12-26 21:52] lesserwhirls commented on #166
Thank you so much for the detailed report and fix!

[2019-12-26 21:52] #166 closed

[2019-12-31 20:16] JohnLCaron opened #174 "Nexrad2IOServiceProvider.isNEXRAD2Format() failing on hi res"
https://jenkins-aws.unidata.ucar.edu/job/netcdf-java/lastCompletedBuild/testReport/ucar.nc2.iosp.nexrad2/TestNexrad2HiResolution/testRead/

java.io.IOException: java.lang.NumberFormatException: For input string: "IVE2"
	at ucar.nc2.NetcdfFile.open(NetcdfFile.java:366)
	at ucar.nc2.dataset.NetcdfDataset.openProtocolOrFile(NetcdfDataset.java:814)
	at ucar.nc2.dataset.NetcdfDataset.openFile(NetcdfDat

[2019-12-31 20:41] JohnLCaron commented on #126
It appears that variables primary_cloud and secondary_cloud should be using typedef cloud_class_t instead of creating their own typedefs.

Current ncdump on ~netcdf-java/dap4/d4tests/src/test/data/resources/testfiles/test_atomic_types.nc:

netcdf c:/dev/github/netcdf-java/dap4/d4tests/src/test/data/resources/testfiles/test_atomic_types.nc {
  types:
    byte enum cloud_class_t { 'Clear' = 0, 'Cumu

[2019-12-31 20:45] lesserwhirls commented on #174
I have a fix for this on in my S3 PR (one of my new tests barfed on it). Should be merged in today (just finishing up a service provider for `RandomAccessFile`).

[2019-12-31 21:29] JohnLCaron commented on #126
At the moment Im not seeing the error. The Data Object "primary_cloud" has a Datatype Message inside of it that duplicates cloud_class_t, complete with duplicated enumValue/enumName map . I dont (yet) see any reference to cloud_class_t that indicates it should use that. So Ive either missed it, or theres some conventions eg for searching for duplicate Datatype Message that is undocumented or I did

[2019-12-31 21:44] JohnLCaron commented on #126
Note

[code]

which cdm doesnt reproduce:
[code]

I think that was a conscious decision on my part to have opaque types be anonymous in the CDM (using the KISS principle). The netcdf4 implementors ignored the CDM data model, which, ahem, predated netcdf4 on hdf5, and simply followed the hdf5 data model.

This and other discrepencies are probably the source of Dennis' comment "the handling of netcd

[2019-12-31 21:49] JohnLCaron opened #175 "Bug controlling when hdf5/netdf4 uses jna vs java iosp."
I didnt intend to change this, find out what happened:

From #126: "This started showing up when the way we load IOSPs changed with PR 101 (see https://github.com/Unidata/netcdf-java/pull/101/files for the changes)."

[2019-12-31 22:56] DennisHeimbigner commented on #126
Correct. The CDM and netcdf-4 models differ in many respects
(mostly having to do with user-defined types).
IMO we should use netcdf-4 model.
The reason you see those
differences is because DAP4 attempts to more closely map
to the netcdf-4 model to, among other things,more closely
mimic the netcdf-c library DAP4 mapping.

[2019-12-31 23:44] JohnLCaron commented on #126
Do you have any insight into why the enum variables in test_atomic_types.nc duplicate the typedef ( including the value/name maps) inside of itself, instead of referencing a common datatype?

[2020-01-01 01:33] JohnLCaron commented on #126
I see the same thing with
[code]

That is, the variable vo has its own data type, and im not seeing the reference to the stand alone type.

OTOH I see hdf5 sample files using enums that dont have a stand-alone DataTypeMessage.

So I think the general question may be "how does netcdf4 implement user defined type? Where does a variable using one have a reference to it? Is this documented anywhere?"

[2020-01-01 05:36] #160 closed

[2020-01-01 14:31] lesserwhirls opened #178 "Possible race condition in cache"
We've been seeing a few situations on Travis (both Oracle and AdoptOpen JDKs) that smell an awful lot like a race condition somewhere related to caching. What happens on Travis is that the Travis times out with the following output:

[code]

Unfortunately, it's not easily reproducible. It reminds me a lot of what we were seeing on Jenkins, which had the exact same symptoms and output as the `ucar.

[2020-01-01 15:34] lesserwhirls commented on #175
OK, I think I found it. Specifically it was this:

https://github.com/Unidata/netcdf-java/pull/101/files#diff-012e4ec8c93cb12e0fbe471801cf22d3R842-R843

Uncommenting those two lines causes the `H5Iosp` to take precedence, no matter what. What the Dap4 test code was doing, and still does in `DapTestCommon`, is try to force the `Nc4Iosp` to the top of the registered IOSP list to make sure the C libr

[2020-01-01 15:46] lesserwhirls commented on #126
In my opinion, I think we should properly map the CDM to the data model that's expected based on usage of netCDF-Java, as long as properly is well defined. Is it the case that the CDM objects lack the necessary data and metadata to compare with what the C library provides?

If it's not documented, then that's a problem with the spec in general that would only be revealed by having multiple impleme

[2020-01-01 18:19] JohnLCaron opened #179 "Review HDF5 iosp for version 3 features, gather example files."
HDF5 has a "version 3" spec. Our code should be reviewed for conformance.

We especially need to gather example files that use version 3 features for testing.

https://support.hdfgroup.org/HDF5/doc/H5.format.html

[2020-01-01 18:55] JohnLCaron commented on #175
Good catch. Im submitting PR180

Id like to get the functionality back for DapTestCommon to use Nc4Iosp for the duration of its testing.

[2020-01-02 01:49] lesserwhirls commented on #179
I have a netCDF-4 file that was written with superblock 3, and its equivalent using super block 0 (a little background on how these came about can be found [here](https://www.unidata.ucar.edu/blogs/news/entry/netcdf-4-4-1)). To me this points to a serious flaw in that the netCDF-4 persistence layer is ill defined (outside of "see HDF5 for details"). This is where @oxelson and I were going to start

[2020-01-02 01:51] epourmal commented on #179
Yes, we can provide you with such files. Please shoot email to help@hdfgorup.org with this request.

[2020-01-02 02:04] #175 closed

[2020-01-02 17:28] JohnLCaron commented on #126
Added TestEnumTypedef
disabled until we have a fix so Travis doesnt fail.

[2020-01-02 17:42] JohnLCaron commented on #126
CDM has the correct semantics, but it doesnt implement user-defined types. Instead of "factoring out" the type of a variable to a standalone type, it duplicates the type information in the variable. Just to keep things confusing, so does the internal representation in hdf5 (at least with the example files Im looking at). There must be a way to find the reference to the standalone type, since thats

[2020-01-02 17:47] JohnLCaron commented on #126
I agree that having an independent implementation for reading HDF5 is important and Im willing for now to keep the Java code updated and fix bugs as a Service to Humanity.

As long as theres an easy way for a user to switch between the Java and JNA implementations, I thinks its a win. Is there a command line argument for controlling which iosp is used?

[2020-01-02 18:37] lesserwhirls commented on #126
Thanks for the clarification.

You’re a data format saint. 😇 I’ll follow closely and learn all that I can.

Not currently, but could certainly create one.

Bigger question - what’s the right level to insert the JNA? Currently we use JNA for reading/writing netCDF-4 through netCDF-C. We could add a new JNA based HDF5 IOSP and call into HDF C? Or, the new IOSP could use the java wrappers produced by

[2020-01-03 00:50] JohnLCaron commented on #126
use JNA for reading/writing netCDF-4 through netCDF-C. We could add a new
JNA based HDF5 IOSP and call into HDF C? Or, the new IOSP could use the
java wrappers produced by the HDF5 build and skip a directly based JNA IOSP.

Can the netcdf-c library read any hdf5 or just netcdf4 ?

On Thu, Jan 2, 2020 at 11:37 AM Sean Arms <notifications@github.com> wrote:

[2020-01-08 02:12] lesserwhirls commented on #126
Just netcdf-4 as far as I understand, although better flexibility in the C library is a desired feature.

I think the thing to do is implement a new HDF5 IOSP (directly using JNA, or indirectly by using JHI5), and at least verify that the netCDF-4 spec (perhaps better named the netCDF HDF convention), remains documented  thoroughly enough.

I would be tempted to go with using direct JNA calls over

[2020-01-08 03:39] rschmunk opened #181 "Exception opening remote GRIB datasets"
@lesserwhirls, I'm trying to determine if an issue related loading remote GRIB files was ever addressed. Specifically I'm looking at Unidata/thredds#797

I had a user write in today about trying to load remote GRIB-2 files and I found it was reporting the severe "reading/Creating gbx9 index for file" exception in Grib2CollectionBuilder.

I had a dim recollection that I'd encountered trouble in the

[2020-01-08 19:33] JohnLCaron commented on #126
I need to think about all that more. But just to clarify, Im just
volunteering to update the pure Java code.

On Tue, Jan 7, 2020 at 7:12 PM Sean Arms <notifications@github.com> wrote:

[2020-01-08 20:03] DennisHeimbigner commented on #126
FYI
The netcdf-c library can read some (but not all) HDF5 files
created outside of netcdf-4.

[2020-01-08 21:09] lesserwhirls commented on #126
Totally. Any JNA based HDF5 IOSP will be my special level of...well...there's a south park joke in here somewhere...ah, yes, Detroit.

Does it expose enough of HDF5 to build a full HDF5 IOSP?  If not, then calls to the HDF5 library are probably the right level for the IOSP.

[2020-01-08 21:22] DennisHeimbigner commented on #126
Not even close.

[2020-01-12 10:28] ms-daniel-bailey commented on #22
Hi guys, hope it's appropriate to piggyback this issue as it seems relevant and I have a couple of example files I can share for reference sake.

I'd been wrestling with reading these files with software I am working on, despite the software being stable until encountering these particular grid data types.   I ended up deciding to try loading them in Panoply which has also crashed and burned with

[2020-01-13 02:13] rschmunk commented on #22
FWIW, the issue of Product Definition 32 support arose two years ago in Unidata/thredds#846. Looks like @cofinoa took a whack at it but it turned out to be pretty complex and so apparently was not completed.

[2020-01-15 03:45] noaaroland opened #185 "DatasetUrl.findDatasetUrl(location) fails with https://upwell.pfeg.noaa.gov/erddap/griddap/jplAquariusSSS3MonthV5"
Version 5.2.0 with openjdk version "1.8.0_212" on Ubuntu 16.4

When opening the above OPeNDAP URL with 5.2 the findDatasetUrl fails with a 404 not found.

When opening the same URL with 4.6.14 the code goes straight to the:
 NetcdfDataset ncd = NetcdfDataset.acquireDataset(location, task);

and the data set opens just fine.

[2020-01-15 03:57] rschmunk commented on #185
The dataset can be loaded using NJ 5.1, but fails with a 5.3 snapshot.

[2020-01-15 09:50] V-F opened #186 "Problem with results of the ucar.nc2.Variable.read() method."
There is a problem after [changes](https://github.com/Unidata/netcdf-java/commit/7b31c20eeb67fc3c4a14c17694277bfd16f0b61f) in the method [DataBTree.Node::first](https://github.com/Unidata/netcdf-java/commit/7b31c20eeb67fc3c4a14c17694277bfd16f0b61f#diff-7330567f14c5cc91e1f2cd0a29431448R233). The method ucar.nc2.Variable.read() returns result array that contains invalid values in the first elements

[2020-01-20 17:11] #140 closed

[2020-01-21 01:17] JohnLCaron commented on #174
Still failing in

https://jenkins-aws.unidata.ucar.edu/job/netcdf-java/lastCompletedBuild/testReport/

[2020-01-21 03:22] #174 closed

[2020-01-21 17:24] lesserwhirls opened #190 "5.x Client Catalog API and Docs"
API docs need to be added to several of the classes down in `thredds.catalog.client`. For example, in:

https://github.com/Unidata/netcdf-java/blob/master/cdm/core/src/main/java/thredds/client/catalog/Catalog.java

The docs should at least point out that you need to use the builders:

https://github.com/Unidata/netcdf-java/tree/master/cdm/core/src/main/java/thredds/client/catalog/builder

(specifi

[2020-01-21 17:37] lesserwhirls commented on #185
Fixed by Unidata/netcdf-java#188 - thank you for the report @noaaroland and additional info @rschmunk !

[2020-01-21 17:37] #185 closed

[2020-01-21 17:58] lesserwhirls opened #191 "CF and grid_mapping"
Will likely need to make adjustments to handle these proposed changes to the CF `grid_mapping` attribute:

https://github.com/cf-convention/cf-conventions/pull/224

Also a good reason to look at our support(ish) of WKT and give that some thought.

[2020-01-24 09:54] marqh commented on #191
Hello @lesserwhirls

There's some recent work that has taken place within the PROJ and GDAL development communities providing capability and functionality for CRS-WKT

This community has been pretty active getting up to date with the OGC CRS Specification work.

There may be some possibilities for linking, or making use of approaches, for example:
https://gdal.org/tutorials/osr_api_tut.html

all t

[2020-01-24 20:49] lesserwhirls commented on #161
Ok, I think I've found the root issue here, so I'll cut right to the chase. The NCEI server does not deal with redirects of encoded urls properly.

Let's follow the steps of a request to `http://www.ncei.noaa.gov/thredds/dodsC/cdr/gridsat/GridSat-Aggregation.ncml.ascii?time[0:1:2]`

We can immediately see an issue if we make a request, but encode the brackets:

[code]

Notice in the response heade

[2020-01-28 17:31] oxelson commented on #161
@lesserwhirls no, I've not seen this before with mod_jk, but that doesn't mean it's not a mod_* proxy issue.  That said, I'd really need to know what their environment looks like (apache/tomcat configs) to see if the server environment is causing the encoding issues.

[2020-01-28 20:49] lesserwhirls commented on #161
I'll reach out to NCEI to see what's going on with the double encoding on the `http`&rarr;`https` redirect.

[2020-01-28 20:55] #156 closed

[2020-02-01 00:04] JohnLCaron commented on #186
I believe this is the problem that #194 fixes. However, this file has uncovered a related problem that I will investigate.

[2020-02-01 00:11] JohnLCaron commented on #186
Ok, I have a fix for this. Will add to #194.

[2020-02-01 00:13] JohnLCaron commented on #186
Thanks for the bug report and data file. What is it?

[2020-02-03 09:31] V-F commented on #186
I have tested. Thank you for fixing this bug.

I'm not sure I can assume that this file was generated by some generator such as [this](https://data.giss.nasa.gov/gistemp/maps/index_v4.html). It is used as one of the files for automatic testing.

[2020-02-03 09:32] #186 closed

[2020-02-03 23:35] rschmunk opened #199 "Presence of libjnidispatch.jnilib triggers Mac notarization failure"
I am trying to finish packaging up a copy of Panoply for macOS using netCDF-Java 5.3 SNAPSHOT. Everything is great right up until almost the end when I have to get the disk image DMG notarized by Apple. That fails because of the presence of libjnidispatch.jnilib in the NJ jar, i.e., netcdfAll-5.3.0-SNAPSHOT.jar/com/sun/jna/darwin/libjnidispatch.jnilib. In short, the notarization process is complai

[2020-02-04 13:54] lesserwhirls commented on #199
Greetings @rschmunk! Yes, the `libjnidispatch.jnilib` is coming in from the `netcdf4` module, which writes netCDF-4 files via the C library, and can also read netCDF files through the C library for debugging purposes. It's actually JNA that is pulling in `libjnidispatch.jnilib`. That code should never be touched unless the netCDF-Java is explicitly told that netCDF-C exists and should be used, so

[2020-02-04 21:11] rschmunk commented on #199
@lesserwhirls, So if `.unidata/nj22Config.xml` has been read in so that the user can use `libnetcdf`, would that jnilib be needed? As some point a few years ago due to a user request, I modified Panoply to look for that XML file and if found, then feed it to RuntimeConfigParser.

[2020-02-06 21:04] lesserwhirls commented on #199
In that case yes, `libjnidispatch.jnilib` would be needed as it allows the JNA library to make calls to the netCDF-C library.

[2020-02-07 00:52] rschmunk commented on #199
Hmmmmmm..... Well, I only know of the one user who might have specifically taken advantage of this feature in Panoply, so it might have to go away until NJ uses a newer JNA. Or perhaps I'll bundle a version of NJ  missing JNA in the Mac version only.

[2020-02-08 03:00] lesserwhirls commented on #199
I get the feeling that the second option is what will need to be done, at least for now. The JNA developer does not seem interested in signing the Jars for Mac (or Windows, for that matter), so it looks to be falling on the individual developers utilizing JNA to sign as needed. (which invloves expanding the jar, signing, rejarring, etc.). The IDV group at Unidata does some signing, but I'm not fam

[2020-02-08 07:09] rschmunk commented on #199
Thx, @lesserwhirls. I'll figure something out. Simplest option for me is to just disable JNA, but as long as I can script whatever I implement I'll be satisfied.

I'm an odd outlier in that I use Xcode as my IDE and ant for my build scripting. (Hey, I only started using ant maybe 7-8 years ago!) The Mac notarization process has messed that up as my process for building, signing and uploading was f

[2020-02-11 04:47] willglynn commented on #110
Latest is now v6.1.1, which appears to be remain suitable from a Java support perspective:

[2020-02-11 23:47] rschmunk commented on #199
I discovered an issue in the java-native-access/jna repo about problems submitting apps using Java and JNA to the Mac app store beginning late last year, which was being triggered by the JNA code for Darwin being fat (32- and 64-bit) and the app store no longer accepting any submission that included 32-bit code.

One commenter on that issue showed how to strip the 32-bit code out of the Darwin JNA

[2020-02-12 02:51] lesserwhirls commented on #199
Nice! I wonder if we could do some jar shading magic in our build once the two mac platforms are separated out, and make the new `darwin-x86` platform stuff optional somehow (could we call it netCDFAll.jar if it didn't include, uh, all though?).

[2020-02-13 18:53] JohnLCaron opened #207 "CF-Radial not recognized as radial feature type."
Add a Convention parser that handles CF-Radial Convention.
Currently there is none and those files are not recognized as radial data types.

The test files are in ~cdmUnitTest/conventions/cfradial. Are these current or are there more recent examples? Has the spec evolved? Is it being used?

To do this we need a medium/long range strategy for radial feature types. What should the API look like? Is

[2020-02-13 20:16] ethanrd commented on #207
Hey @JohnLCaron - There is now a 1.4 CfRadial spec (which I don't think has changed since 2016 or 2017) and a 2.0 CfRadial spec. The 2.0 spec uses groups and a few other netCDF Enhanced Data Model features. The docs are in the [NCAR/CfRadial](https://github.com/NCAR/CfRadial) GitHub repo. @mike-dixon should be able to give you an idea of current usage of the 2.0 spec and maybe some example files.

[2020-02-14 05:55] dopplershift commented on #207
Right now I think the only users of the radial feature types is the IDV, at least in-house. I think we need a longer look at what we want these feature types to actually accomplish before going down the path further. My recollection is last time I looked, in order to get a radial feature type, one had to first see if that makes sense for the data file and then coerce it.

[2020-02-14 17:37] JohnLCaron commented on #207
With the exception of Grid and GRIB, these feature types seem mostly unused, so theres a question if we should keep developing them. Long ago we had a query service where users could request particular radar scans by time range, station, and ? from radar collections like nexrad2 and 3. Is something along those lines useful to anyone?

[2020-02-14 18:52] dopplershift commented on #207
That query service still exists and is very useful, but it currently doesn’t (and didn’t at the time that I rewrote it) rely on any of the radial feature classes. What I would love, though, is to be able to treat a set of radial data on disk as a single collection that I didn’t need to query, but could treat no different than our GRIB collections.

[2020-02-14 20:09] JohnLCaron commented on #207
The problem is its hard to do index based aggregation on large collection of data, unless they are rigidly homogenous in structure. That leads to using "coordinate range querying" (better name?) which is what feature types were trying to get to. Can you say exaclty what properties you want from of a "radial data collection"? What would an API or query look like? How does that differ from what you

[2020-02-27 03:51] Yaqiang opened #217 "How to add relative path of TableB and TableD in custom Bufr lookup file?"
I can register a custom bufr lookup file using the function: ucar.nc2.iosp.bufr.tables.BufrTables.addLookupFile( String filename)  and given the whole paths of TableB and TableD.

`CMA.23, 38,   0,        23,    -1,   -1, D:/MyProgram/Distribution/Java/MeteoInfo/MeteoInfo/tables/bufr/cma_bufr_tableb.csv, wmo_csv, D:/MyProgram/Distribution/Java/MeteoInfo/MeteoInfo/tables/bufr/cma_bufr_tabled.csv, w

[2020-02-27 05:22] dopplershift commented on #207
It's not really about what I want in terms of a service or query API. What I want is a consistent way I can train our users to access data. It's not great in a workshop to show users that we have one way to access model data (i.e. go through the feature collection and maybe use NCSS), one way to access radar data (use the radar query service, which gives you a list of files, then access one-by-one

[2020-02-27 06:50] Yaqiang opened #218 "ucar.nc2.NetcdfFile.canOpen(String location) returns false for netcdf4 file"
In netcdfAll 5.2.0, ucar.nc2.NetcdfFile.canOpen(String location) returns false for netcdf4 file. But ucar.nc2.NetcdfFile.open(String location) function can read netcdf4 file, because its additional *H5header.isValidFile* testing. So such testing should also be added in *canOpen* function.

Following is a Jython testing script:

[code]

Testing result:

[code]

[2020-02-27 12:21] tayloj opened #219 "Documentation for unescaping names references missing method"
In 5.2.0, the documentation for NetcdfFile.findVariable says:

However, there is no `NetcdfFile.escapeName(String)` method (anymore; I assume that there used to be).  The name related methods are:

[code]

The Javadoc should be updated in whatever way is appropriate. (I was able to just escape `.` in the names and was fine, so this is not a blocker for me).

[2020-02-29 14:04] lesserwhirls commented on #217
Greetings @Yaqiang! When the code reads in the lookuptable, it tries a few ways to read in the tables listed in lookup file:

https://github.com/Unidata/netcdf-java/blob/3bfb098f94a96d1b94497159f6382bba08917da9/bufr/src/main/java/ucar/nc2/iosp/bufr/tables/BufrTables.java#L1359-L1377

The `FileInputStream` call needs the full path (at least as we have it coded now). One thing you could do, and what

[2020-03-01 02:53] Yaqiang commented on #217
Thanks @lesserwhirls for your response! Yes, it's possible to solve the problem through uzip jar file, update resources files and re-pack jar file. Or it's considerable to support relative path in BufrTables.java file. I recently solve the problem through adding an additional lookup fullpath file and update the fullpath according the relative path lookup file. Following is Jython function to load

[2020-03-02 01:51] lesserwhirls commented on #218
Greetings @Yaqiang! I just put in a fix for this in the new `ucar.nc2.NetcdfFiles` class (`canOpen(String location)`), so it will be available there in the 5.3 release (will be out likely tomorrow).

[2020-03-02 02:01] lesserwhirls commented on #217
You should not need to unjar, add, and rejar `bufr.jar`, but rather package your tables in a separate jar, and include that jar on the classpath. I will look at adding the ability to read tables relative to the lookup file location.

[2020-03-02 02:02] #218 closed

[2020-03-02 03:30] Yaqiang commented on #217
@lesserwhirls Thanks for your kindly help!

[2020-03-04 21:53] JohnLCaron opened #224 "Issues with failing Jenkins tests"
There are 4 failing tests here:

https://jenkins-aws.unidata.ucar.edu/job/netcdf-java/85/testReport/junit/ucar.nc2.dataset/

1. I removed these two files, they didnt make sense i think, but send me a copy and ill recheck:

cdmUnitTest/conventions/cedric/test.ncml
cdmUnitTest/conventions/default/HistDumpTest9.nc

2. these are not failing locally for me. maybe i modified them?

cdmUnitTest/conventio

[2020-03-04 21:58] JohnLCaron commented on #219
This has already been changed in 5.3 to:

  /**
   * Find a Variable, with the specified (escaped full) name.
   * It may possibly be nested in multiple groups and/or structures.
   * An embedded "." is interpreted as structure.member.
   * An embedded "/" is interpreted as group/variable.
   * If the name actually has a ".", you must escape it (call NetcdfFiles.makeValidPathName(varname))
   * An

[2020-03-06 13:03] lesserwhirls commented on #224
* `cdmUnitTest/conventions/wrf/wrf_masscore.ncml`:
[code]
* `cdmUnitTest/conventions/wrf/wrfout_01_000000_0003.ncml`
[code]
* `cdmUnitTest/conventions/default/HistDumpTest9.nc` was added based on this [comment](https://github.com/Unidata/netcdf-java/pull/197#issuecomment-582024823), and was submitted as part of [this issue](https://github.com/Unidata/netcdf-java/issues/186). I can move it from `cd

[2020-03-07 19:15] lesserwhirls opened #226 "Dimension builder failing on unlimited dimension"
In `NcStream.java`, we get a failure when decoding a dimension that is unlimited:

https://github.com/Unidata/netcdf-java/blob/4405f1eb4ca50d6258fbc99899845f17af78e4a5/cdm/core/src/main/java/ucar/nc2/stream/NcStream.java#L415-L420

The dimension builder call should be something like:

[code]

Need to check all uses of the `Dimension.Builder builder(String name, int length)` constructor to make sur

[2020-03-09 01:14] lesserwhirls opened #228 "CoordSysBuilder fails on anonymous dimensions"
One way to trigger the bug is to open `cdmUnitTest/formats/grib2/GFS_Global_2p5deg_20101023_0600.grib2` (or `https://thredds.ucar.edu/thredds/dodsC/grib/NCEP/GFS/CONUS_80km/Best`) using `NetcdfDatasets`. What happens is that in the `ucar.nc2.internal.dataset.CoordinatesHelper` `isComplete()` method, we turn a list of dimension names into an immutable list:

https://github.com/Unidata/netcdf-java/b

[2020-03-14 03:17] lesserwhirls opened #230 "ncstream and structure with vlen member"
We are running into an NPE when dealing with ncstream and structure data in which one of the members is a vlen. The following code will trigger the issue:

[code]

In this code, we open a netCDF-4 file from [thredds-test-data](https://github.com/unidata/thredds-test-data) ([ncstream_vlen.zip](https://github.com/Unidata/netcdf-java/files/4332126/ncstream_vlen.zip)), write out as ncstream to a temp

[2020-04-04 20:23] JohnLCaron opened #242 "Changes to cdmUnitTest files"
1. remove conventions/default/*
Existing file is not the right example for default, and it fails.

2. remove formats/grib2/gfs_4_20130830_1800_144.grb2
Last record is truncated, data reading fails.

[2020-04-06 21:43] JohnLCaron commented on #242
Another one:

in ~cdmUnitTest/conventions/wrf/wrf_masscore.ncml

  <variable name='Times' type='string' shape='Time DateStrLen' />

should be

  <variable name='Times' type='char' shape='Time DateStrLen' />

[2020-04-06 21:44] JohnLCaron commented on #242
[code]
should be
[code]

[2020-04-07 02:50] lesserwhirls commented on #242
Updated in https://github.com/unidata/thredds-test-data rsync repository and will be picked up by Jenkins. Thanks @JohnLCaron!

[2020-04-07 02:50] #242 closed

[2020-04-12 13:25] lesserwhirls opened #250 "Javadoc references to user guide material"
We have quite a few cases of javadocs referencing users guide material. For example:

https://github.com/Unidata/netcdf-java/blob/327f2b4c1e422541d8853fa8c8fc5b39df989af9/cdm/core/src/main/java/ucar/nc2/NetcdfFile.java#L2137-L2138

and

https://github.com/Unidata/netcdf-java/blob/327f2b4c1e422541d8853fa8c8fc5b39df989af9/cdm/core/src/main/java/ucar/nc2/NetcdfFile.java#L2352

There are two things to

[2020-04-15 19:23] desruisseaux opened #256 "Consider GeoAPI for referencing and metadata aspects of new UCAR API"
Following on the [NetCDF-Java - Looking Ahead](https://www.unidata.ucar.edu/blogs/developer/entry/netcdf-java-looking-ahead) blog, I propose to use [GeoAPI](https://www.geoapi.org/) for _referencing by coordinates_ aspects (map projections) and possibly some metadata. Note that I'm not proposing to adopt any particular implementation — GeoAPI is only a set of Java interfaces, implementation can st

[2020-04-19 18:04] JohnLCaron commented on #89
Problems with SequenceDS see TestBufrBuilderProblem.compareCoordSysBuilders().
Is this occurring in 4.x?

[2020-04-21 19:05] JohnLCaron commented on #242
java.io.IOException: java.io.IOException: Cant read file:/share/testdata/cdmUnitTest/thredds-test-data/local/thredds-test-data/cdmUnitTest/formats/hdf4/MOD021KM.A2004328.1735.004.2004329164007.hdf.hexdat.txt: not a valid CDM file.

[2020-04-22 02:26] lesserwhirls commented on #242
Thank you @JohnLCaron - I just removed that one from the test data.

[2020-04-26 19:53] noaaroland opened #270 "Dataset class throws a NPE when Access element exists but service does not."
To report a non-security related issue, please provide:

* the version of the software with which you are encountering an issue

v5.2.0

* environmental information (i.e. Operating System, compiler info, java version, python version, etc.)

Java 11.0.5

* a description of the issue with the steps needed to reproduce it

Traverse through the catalog and check hasAccess on each data set. One such da

[2020-04-27 13:54] lesserwhirls commented on #270
Greetings @noaaroland! Thank you for the detailed report! I see in the catalog that there is an element:

[code]

I do not see a service named `ersstAgg` in any `<service>` element though, which is the source of the null in this case. Not sure if that is a valid access element (would be interesting to see the NcML backing this aggregation, as I am guessing there it's a typo).

If I do a check for

[2020-04-27 18:41] #270 closed

[2020-04-28 17:54] #120 closed

[2020-04-29 20:12] noaaroland commented on #270
Thanks @lesserwhirls

I think it is indeed the "right" behavior to prevent the crash when a client is trying to read a catalog configured in this way.

We can speculate that perhaps the person setting up the catalog made a mistake. What THREDDS does to warn or prevent that mistake at configuration time is still an open question. A warning when  the such a configuration catalog is read is probably

[2020-05-06 12:31] #152 closed

[2020-05-06 19:58] ndp-opendap opened #283 "netcdf-java fails to authenticate against AWS load balanced services."
Greetings,

I am working with DAP servers that require authenticated access and that are living behind a load balancer, in particular the AWS ALB. I have had trouble getting Panoply to work in this environment, so knowing that it and IDV both utilize netcdf-java for their DAP functionality I tried IDV.

I tried using IDV(5.7 downloaded today) to make the same access (NASA VPN only):

- https://ope

[2020-05-07 20:12] rschmunk commented on #283
@ndp-opendap, Is that URL accessible to anyone with an Earthdata account and who is on the NASA VPN? I have tried to access it, both using Panoply and a web browser, and failed. With Panoply, I am seeing a "IOException: Unauthorized to open dataset".

[2020-05-07 20:49] ndp-opendap commented on #283
That URL https://opendap.sit.earthdata.nasa.gov/hyrax/data/nc/coads_climatology.nc is on a NASA VPN that is associated with the NGAP effort. I use a Code400 RSA key and the PulseSecure VPN client to connect to Earthdata Gateway 32 (edgate32) located here: https://edgate32.eno.ecs.nasa.gov

I'm afraid that if you can't get in there, then you can't hit that URL.

So. Many. Rules.

N

[2020-05-07 20:59] ndp-opendap commented on #283
Also: you have to be set up to authenticate with Earthdata Login. Here's how I would test it:  I put my EDL credentials in my `~/.netrc` file. Both the UAT and SIT environments have their own EDL instances so you have to have credentials for one or both of:
- `sit.urs.earthdata.nasa.gov`
- `uat.urs.earthdata.nasa.gov`
My `.netrc` file looks a bit like this:
[code]
With the EDL credentials sorted o

[2020-05-08 04:18] rschmunk commented on #283
Hmm, I can log into the site at urs.earthdata.nasa.gov, but not e.g. sit.urs.earthdata.nasa.gov. But it probably doesn't matter anyway. When I try to access the coads_climatology.nc  dataset using Panoply, the invalid cookie warnings start showing up in log messages even before I try to authenticate.

I'll take another look at this Friday and see if the discussion in the elastic/support-diagnostic

[2020-05-08 11:18] ndp-opendap commented on #283
Hi Robert,

The user lists for urs.earthdata.nasa.gov,  sit.urs.earthdata.nasa.gov, and disjoint uat.urs.earthdata.nasa.gov are essentially disjoint. You have to register as a "new" user in each environment.

Well at least it consistent and repeatable!

Sean @ Unidata reached out to me and I think we're going to utilize ToolsUI for debugging if it will reproduce the failure - all these apps are us

[2020-05-08 12:31] lesserwhirls commented on #283
Yes, the requests go through  `DConnect2`, but `DConnect2` was modified at some point to use our thin-ish layer on top of Apache httpclient (`httpservices`). One thing we could do pretty quickly is modify the client builders in `ucar.httpservices.HTTPMethod`, `ucar.httpservices.HTTPSession` to use set the CookieSpec, as suggested in elastic/support-diagnostics#233. Since I have zero hope of being

[2020-05-08 14:51] ndp-opendap commented on #283
Hi Sean,

I tried ToolsUI in a series of NASA deployments, and I had the same problems, with mostly expected differences in all of them. (tl;dr - skip to bottom)

Control URL (no authentication):
    http://test.opendap.org/opendap/data/nc/coads_climatology.nc

**VPN access only (SIT)**
- DAP Server: opendap.uat.earthdata.nasa.gov
- EDL SSO: sit.urs.earthdata.nasa.gov
- Test URL: https://opendap.s

[2020-05-08 15:36] lesserwhirls commented on #283
The issue with SSL is related to the version of Java you are using (it is likely missing one or more trusted certs). I'm able to hit that url using toolsUI without the `SSLHandshakeException` running under  `adoptopenjdk-8u242-b08`. I see the "Invalid cookie header" warnings after I authenticate with my EDL credentials. While that does not impact my ability to actually read the data in this case,

[2020-05-08 15:47] lesserwhirls commented on #283
Ok, setting the `CookieSpec` on the `RequestConfig` makes the warning disappear, so that gives me hope it will work for the AWS ALB as well.

[2020-05-09 22:11] rschmunk commented on #283
Applying @lesserwhirls's changes to a local copy of 5.4 SNAPSHOT, and using my urs.earthdata login, I was able to open the file at http://goldsmr4.gesdisc.eosdis.nasa.gov/opendap/MERRA2_MONTHLY/M2TMNXAER.5.12.4/2008/MERRA2_300.tavgM_2d_aer_Nx.200807.nc4 in Panoply with Java 9.

First time failed with an exception about a broken pipe. Likely that was just a symptom of a failed authentication, as it

[2020-05-13 15:26] lesserwhirls commented on #283
Thank you for testing this @rschmunk! I merged in the change and published new snapshots (here is [toolsUI](https://artifacts.unidata.ucar.edu/repository/unidata-all/edu/ucar/toolsUI/5.4.0-SNAPSHOT/toolsUI-5.4.0-20200513.141840-35.jar)).

[2020-05-13 15:26] #283 closed

[2020-05-13 15:50] ndp-opendap commented on #283
Thanks @lesserwhirls and @rschmunk !

I just downloaded the snapshot you linked above and it was able to access a dataset on the NASA UAT Hyrax instance, which is running inside a load balancer and that started this adventure:  http://opendap.uat.earthdata.nasa.gov/hyrax/data/nc/coads_climatology.nc
So this looks like this fix will work there too.

Thanks again!

[2020-05-14 01:36] rschmunk commented on #283
@lesserwhirls, @ndp-opendap also reports that a Panoply built this afternoon using a 5.4 SNAPSHOT that includes #283 successfully loaded a dataset on the UAT server.

[2020-05-18 12:19] blair-anson opened #292 "Cannot resolve edu.ucar:grib:5.3.2"
To report a non-security related issue, please provide:

* the version of the software with which you are encountering an issue
5.3.2

* environmental information (i.e. Operating System, compiler info, java version, python version, etc.)
Ubuntu18
Java1.8
Maven3.3.9

* a description of the issue with the steps needed to reproduce it
I am upgrading from v5.2.0 to v.5.3.2 and I see the following erro

[2020-05-18 21:08] lesserwhirls commented on #292
I was able to remove my local .m2/repository cache, create the following new maven pom:

[code]

and successfully obtain the 5.3.2 release `grib` artifact when I run `mvn package`. I'm running maven 3.6.1 with OpenJDK 1.8.0_212-8u-03 on Windows.

What does the full output from maven look like?

[2020-05-21 18:30] ndp-opendap opened #294 "Panoply experiences failed data requests, error messages from Apache httpclient library"
**Panoply**
When Panoply is accessing data in NASA's NGAP cloud it is unable to retrieve the binary data from the server and the two different error dialogs appear to be from the Apache httpclient library.

<img width="539" alt="Panoply-Error-01" src="https://user-images.githubusercontent.com/8389499/82592664-1c268280-9b56-11ea-83ba-660f7d9d1783.png">

<img width="604" alt="Panoply-Error-02" src="

[2020-05-23 19:21] JohnLCaron commented on #250
In Unidata support archives, such as from this page:

https://www.unidata.ucar.edu/support/help/MailArchives/netcdf/msg13662.html

there are links to reference docs with "current" in the URL:

http://www.unidata.ucar.edu/software/thredds/current/netcdf-java/reference/netcdf4Clibrary.html

These no longer work. Im wondering why that went away? Seems useful to have a version-independent URL.

[2020-05-26 13:04] lesserwhirls commented on #250
There are a few things at play here, but basically, starting with 5, the docs moved from unidata.ucar.edu to docs.unidata.ucar.edu and we also started using the Jekyll documentation system. We do have a current on docs.unidata.ucar.edu (e.g. https://docs.unidata.ucar.edu/netcdf-java/current/userguide/) which is updated as part of the release process. Perhaps we could have the javadocs reference th

[2020-05-26 13:51] blair-anson commented on #292
@lesserwhirls Thanks, I cleared the mvn cache and it works fine now

[2020-05-26 13:51] #292 closed

[2020-05-26 14:05] blair-anson opened #297 "Unable to read lat/lon from ECMWF ERA5 grib file"
To report a non-security related issue, please provide:

* the version of the software with which you are encountering an issue
5.3.2

* environmental information (i.e. Operating System, compiler info, java version, python version, etc.)
Ubuntu
java8

* a description of the issue with the steps needed to reproduce it
- download an ERA5 grib file from ECMWF  (I have attached an example)
https://cds

[2020-05-26 15:01] moisespr123 commented on #297
The CDMWF files are somewhat encoded differently. They recommend using ecCode to read them. Alternatively, you can download the ECMWF files straight in NetCDF. Even although they state NetCDF support is experimental, I haven't had any issues sending requests. Therefore reducing the hassle of working with the Grib files.

[2020-05-26 20:22] JohnLCaron commented on #250
I think referencing the specific version is fine, glad there is a current option. The broken links are due to moving to docs.unidata.... rather than current. Would be nice to have a redirect so the links still work.

I notice that google searches hit random versions of the docs. I wonder if we can tell the crawler to only index current?

[2020-05-26 22:12] lesserwhirls commented on #250
Yeah, it's all been a work in progress. Redirects would be nice, for sure. Currently, that would mean we'd need ~200 hand maintained redirects (between netcdf-java and tds), plus making sure we keep them up-to-date going forward.  One thought I had was to mine the logs to see if there are a handful of pages that get hit regularly that now 404, and put in redirects specifically for those (assuming

[2020-05-26 22:51] lesserwhirls commented on #297
Netcdf-java is having issues with the fact that the grib1 messages have encoded the number of points in the latitude and longitude directions to each be 1 (as seen by the `nx` and `ny` parameters extracted by wgrib), and so the grid is being defined as having a shape of 1 x 1. That is causing issues in other parts of the code, like constructing the latitude and longitude variables.  While you can

[2020-05-27 04:38] blair-anson commented on #297
@lesserwhirls There is only 1 lat/lng point in the grib file I provided, so the grib message is correct. I frequently need to deal with 1 lat/lng point of data, and less often a large grid of data. Downloading from ECMWF is quite slow, so I try to save time by downloading only 1 point when doing initial investigations of a various locations, and then I expand to larger areas if the initial investi

[2020-05-27 06:05] blair-anson commented on #297
@moisespr123 yes I have tried their netcdf files too. I found them to be slower to download than the grib files, so although I like dealing with netcdf better than grib the improvement in download time is worth the hassle

[2020-05-27 07:05] niva83 commented on #299
@lesserwhirls many thanks!
I would be happy to contribute with examples of nc files from wind energy community once we have some definitions `cdm_data_type.

[2020-05-27 20:59] lesserwhirls commented on #297
Hmmm. I don't think I've encountered a GRIB message with a single point before. At this point I have a fix that will let you interact with these GRIB messages as a `NetcdfFile` or `NetcdfDataset`. Given that the data are essentially a timeseries from a single grid point, reading the file as if it were a Gridded dataset (i.e. using `GridDataset`) will not work.

[2020-05-28 02:19] blair-anson commented on #297
@lesserwhirls Amazing thank you! I only use `GridDataset` to identify what lat lon ranges are needed. If I first use `NetcdfFile `or `NetcdfDataset` to check if the length of the lat / lon variables equal 1, then I will skip using `GridDataset` and just focus on calculating the time range I need.

A related question: what is the recommended way for changing the longitude range from 0:360 to -180:1

[2020-05-28 09:37] cofinoa commented on #297
@blair-anson as @lesserwhirls mentions the GRIB IOSP assumes a GRID on the GRIB message.

You should request at least 2 by 2 grid points. The time on requesting that to the CDS will be the same as 1 by 1 case, and the size increase will be marginal (+7.5% with respect to the 1 by 1).

[2020-05-28 11:24] blair-anson commented on #297
@cofinoa yes that workaround would be fine too

[2020-05-28 14:53] lesserwhirls commented on #297
There isn't much to the method `LatLonPointImpl.lonNormal()`, and it relies on the assumption that it's looking at a longitude value with units of `degrees_east`. Here is what it is doing:

[code]

[2020-05-29 15:35] oxelson commented on #250
Hi @lesserwhirls, @JohnLCaron.  I can certainly mine the logs, adjust robots.txt, or update site maps if needed.  Before we do so, I think we need to sit down and have a look at long-term doc goals so we can find the solution(s) that will require the least continual maintenance going forward.  :-)

In the meantime, I'll look at the latest log data to looks for TDS doc-related 404s as a start.

[2020-05-29 16:05] lesserwhirls commented on #250
@oxelson - I'd be happy to do that as well (didn't mean throw you a lump of work)

[2020-05-31 03:42] jskubick opened #308 "GridDataset.open(path) blows up on Android w/cdm-core:5.3.2, works with netcdf4:4.6.11"
I recently [posted a question to StackOverflow](https://stackoverflow.com/questions/62017459/duplicate-classes-from-jetified-aws-android-sdk-and-jetified-aws-java-sdk) that was resolved, along with a suggestion that I switch from using netcdf4:4.6.11 to cdm-core:5.3.2 (I'm using it purely to parse GOES-16 data files).

As the immediate result of switching to cdm-core, cleaning, and re-synchronizin

[2020-05-31 04:15] lesserwhirls commented on #308
Let me start by saying I do not do any Android development myself, so it might take some trial and error to figure this one out. There are a couple of things that come to mind, but first would be to ask what `sourceCompatibility ` and `targetCompatibility` you are setting, if any, in your gradle build, and what version of java you are using to compile.

Second, the `cdm-core` artifact does not inc

[2020-05-31 14:53] jskubick commented on #308
OK, that seems to have fixed it. I wasn't explicitly setting the value for either sourceCompatibility or targetCompatibility. I changed both to explicitly specify 1.8, and it seems to be working now.

For the sake of historical documentation:

Android studio is using Java installed (probably by AS itself) to c:\Program Files\Android\Android Studio\jre. Output of `java -version`:

    openjdk versi

[2020-06-02 13:42] #308 closed

[2020-06-03 14:02] lesserwhirls opened #312 "Section Builder ClassCastException"
We have a new-ish failure in the TDS tests on Jenkins related to the Section builder:

[code]

Specifically,

https://github.com/Unidata/netcdf-java/blob/b889409d5673191437fc602fb1376a81569eed79/cdm/core/src/main/java/ucar/ma2/Section.java#L1337-L1342

I think we want is:

[code]

Also, rather than the assert, should we log an WARN message to indicate that the ranges on the builder simply don't ha

[2020-06-03 14:30] lesserwhirls opened #313 "NetcdfFile.getVariables() change to ImmutableList API break"
Since the change to ImmutableList for `getVariables()`, we've started seeing new test failures in the ncwms service of the TDS (from edal-java), as [their code does things like](https://github.com/Reading-eScience-Centre/edal-java/blob/5b962977ee6017cf50f6ea365bcfb273fc76295e/cdm/src/main/java/uk/ac/rdg/resc/edal/dataset/cdm/CdmGridDatasetFactory.java#L1187):

[code]

which results in:

[code]

[2020-06-04 12:12] lesserwhirls commented on #313
Funny enough (or not), running the latest development code from edal-java, which still uses `getVariables()`, does not result in the same issue. The difference there is that their latested development code requires Java 11. So, Java 11 happily upcasts `ImmutableList<Variable>` to `List<Variable>`, whereas Java 8 does not like it so much. What do you think, @JohnLCaron?

[2020-06-04 12:20] lesserwhirls commented on #313
Nope, I'm java'ing wrong (I still think a little too much in python sometimes).

[2020-06-04 19:24] #313 closed

[2020-06-05 19:46] JMdoubleU opened #316 "NullPointerException when reading cached files concurrently"
Tested in versions: 5.4.0-SNAPSHOT, 5.3.2, 5.2.0
Environment: OpenJDK 1.8, CentOS 7.x

When reading concurrently from files returned by cache, a `NullPointerException` often occurs:
[code]
It seems like a race condition where two threads are able to acquire the same `NetcdfFile`.

PoC program using [this](https://github.com/Unidata/netcdf-java/blob/master/cdm/core/src/test/data/ncml/nc/cldc.mean.n

[2020-06-08 08:38] rschmunk opened #318 "Exception due to not quite CF grid mapping"
Working with the latest 5.4.0 SNAPSHOT.

Trying to open (enhanced) a WCDAS GOES-16 dataset which has global metadata claiming to follow the CF-1.6 convention. But NJ throws an exception because a couple `grid_mapping` attributes are not named as expected. And the file does not get opened.

Specifically, the `grid_mapping` var looks like

[code]

The problem is that the axes attributes are expected

[2020-06-08 08:53] rschmunk commented on #294
@ndp-opendap, Could you remind me if we made enough progress on this (i.e., a newer Panoply using a newer NJ)  that this issue could be closed?

[2020-06-08 09:52] ndp-opendap commented on #294
@rschmunk - I have not made no progress on this. So far Unidata hasn't responded directly to me or this ticket. Can they (or you) replicate the issue? I haven't looked more closely either as I have been pulled into other fires.

Do you have a thought about how we might proceed?

[2020-06-08 12:48] lesserwhirls commented on #294
Hello @ndp-opendap - I'd be happy to take a look, although I have not seen this particular error myself. Do you have a URL I could use to try to reproduce the issue locally?

[2020-06-08 13:17] lesserwhirls commented on #318
Is this a special product being generated by WCDAS that's not typically produced by NOAA, or is this operational? Rather than trying to handle this in the class that handles CF conventions, I'd rather extend that class to handle this as a one off case. I would also recommend reaching out to WCDAS to let them know that this isn't quite CF, and maybe more importantly, they are not in alignment with

[2020-06-08 18:31] rschmunk commented on #318
@lesserwhirls, I'm not sure of the dataset origin. I was examining some problems in my code in plotting projected grid data, and the WCDAS/GOES dataset was one of the few sample projected grid files I happened to have on the laptop I've been using for development since the office shifted to teleworking. Global metadata suggest it's legit product, but the file is a couple years old so perhaps is a

[2020-06-09 05:41] rschmunk commented on #318
I've discovered a few more example GOES-16 projected grid datasets on this laptop hard drive. The older ones dated 2017 have just the non-CF axes attribute names. But one dated 2018 has those plus the valid CF attributes, as in the OpenDAP example I mentioned above. So perhaps there was a change in the production of the datasets to fix the attribute names and make them CF-compliant. In which case,

[2020-06-09 11:55] lesserwhirls opened #320 "CompositeStationCollection leaves files locked"
There are cases where the code in `CompositeStationCollection` will leave a `FileCachable` locked as it searches through a multifile collection for Station Features, specifically when that feature does not exist in a given file. This was first noticed on the TDS side (see Unidata/tds#88).

[2020-06-09 12:09] lesserwhirls opened #322 "Update GEMPAK IOSPs to be cachable"
Currently, the GEMPAK IOSPs do not implement `FileCacheable`. This is likely a big performance hit when accessing GEMPAK station files in a multifile collection, as each file will be opened and closed multiple times during the process (in the few cases I've played with recently, we're talking hundreds to thousands of times).

[2020-06-09 13:34] lesserwhirls commented on #318
I did a little digging on our side, and I believe these files are coming from NOAAPORT, although not directly. When GOES-16/17 netCDF based products are sent across NOAAPORT, they are tiled, and the recipient needs to reassemble them. Given that the recipient needs to reassemble them, all kinds of things can happen. The individual tiles do not use the correct attributes, and if they are reassemble

[2020-06-09 16:14] #320 closed

[2020-06-09 18:03] lesserwhirls commented on #318
Also, if you could point me to an example, that'd be much appreciated. I've searched and searched, but I can only find correct files...I made a request for a level 2 file from 2017 from NOAA's CLASS, but have not heard back from the service yet. I wasn't able to find the opendap server that had files with both, but it's probably because my google filter bubble is getting in the way.

[2020-06-09 18:24] lesserwhirls commented on #318
I did a little more digging and found an example on a [TDS that has both](https://thredds.aos.wisc.edu/thredds/dodsC/satellite/GOES/GOES16/PRREGI/Channel07/20200609/GOES16_PRREGI_20200609_181017_3.90_2km_17.4N_67.5W.nc4.html). That one is restitched by a program we made here at Unidata, and it contains both attributes. What I still cannot find is one that only has the incorrect ones.

[2020-06-10 05:47] rschmunk commented on #318
@lesserwhirls, The example file that got me looking at this is [here](https://www.dropbox.com/s/1pb2754rsp3v0jw/OR_EFD-060.nc?dl=0). That uses the geostationary projected grid. I have a few other examples with the non-compliant attributes that use the either the geostationary or Lambert conformal conic grid. All are dated 2016 or 2017.

[2020-06-11 05:38] rschmunk commented on #318
@lesserwhirls, It turns out that the file I linked to has another oddity/problem. If you check the units of the x and y grid axes, they are "microradian". Although it looks like one of the `Geostationary` classes in NJ has some code for doing axis unit conversions, it doesn't seem to be figuring this one out. If I plot the data on a lon-lat map using the coordinate transform provided by NJ, the sc

[2020-06-11 17:11] lesserwhirls commented on #318
Thank you for the followup! I can see the root issue at play, and will get a fix in (hopefully today).

[2020-06-16 23:04] #316 closed

[2020-06-16 23:07] lesserwhirls commented on #318
Ok, I have a fix for this in now, and will be sure this gets into the next release (`v5.3.3`) in addition to the 5.4.0 SNAPSHOTs. Thank you for your help identifying the issues here @rschmunk!

[2020-06-16 23:07] #318 closed

[2020-06-17 16:49] #312 closed

[2020-06-18 07:19] rschmunk commented on #318
@lesserwhirls, Just a note to say that I am still seeing scaling problems trying to plot geostationary gridded data. Playing with the sample dataset and another similar that use microradian for the x/y units, I'm finding I need to scale the transform by 1e6 or 1e-6 (as appropriate) to get a map that looks right. I'm poking at source to see if I can find if/where there might be a problem, but don't

[2020-06-19 13:29] EHJ-52n opened #334 ""IllegalStateException: ObjectHeaderContinuation Missing signature" when trying to open GeoServer NetCDF response"
**Used Versions**
  * cdm-core: 5.3.1
  * netcdf4: 5.3.1
  * both from ucar repositories

**Environmental Information**
  * os: Ubuntu 18.04.4 LTS
  * javac: openjdk 1.8.0_252
  * libnetcdf-dev: 4.6.0-2build1
  * libnetcdf13: 4.6.0-2build1
  * GeoServer:
    * Version: 2.6.12
    * host os: Debian GNU/Linux 9.5 (stretch)
      * netcdf-bin: 4.4.1.1-2
      * libnetcdf11: 4.4.1.1-2
    * java: Orac

[2020-06-19 15:10] lesserwhirls commented on #334
If you are only trying to read the netCDF-4 file, you do not need the `netcdf4` artifact (you only need that if you are writing), unless you have configured netCDF-Java to read through the C library. I don't recommend that approach for reading unless its for debugging purposes.

When I try to use `h5dump` (v1.12.0) on the file, I get the following:

[code]

I would expect that to work at the very

[2020-06-21 03:43] rschmunk commented on #199
Has any further thought been given to producing a netcdfAll.jar that does not include the 32-bit Darwin native binary code?

This is not a priority for me now, as I have set up a script that builds netcdfAll, then unbars it, strips out the offending binary, and re-jars everything back up. Nevertheless, I'm curious, and so wanted to see if it might be in the queue somewhere.

Also wondering to what

[2020-06-21 21:22] ViviCoder opened #335 "Files with missing license and copyright information"
I am working on packaging netcdf-java for Debian, but I am facing some issues that need to be solved before going further.
As you may know, the Debian policy is pretty strict about what is redistributable and what is not.
In particular, binary files without sources are strongly discouraged.
Besides, two files (`cdm/core/src/main/java/ucar/unidata/geoloc/projection/Gdc_To_Utm_Converter.java` and `U

[2020-06-22 16:37] lesserwhirls commented on #335
Greetings! Thank you for reaching out. I'll need to look deeper at the classes from `GeoTransform` and get back with you on those, as well find the license for the code translated from Cosmic fortran routines. The missing copyright and license blocks in the test code can be added pretty easily.

In terms of distributing netCDF-Java through Debian, what specifically are you looking to distribute? T

[2020-06-22 16:44] lesserwhirls commented on #199
It looks like jna still ships the universal binary for darwin, so we would not be able to shade out out the 32-bit specific parts on our end just yet. Once jna splits the universal binary into a 32-bit and a 64-bit version, then we'd be able to work some gradle magic. I have no idea as to the extent of 32-bit darwin systems, or the use of 32-bit java on 64-bit darwin systems (which would still req

[2020-06-23 03:13] rschmunk commented on #199
@lesserwhirls, I can dig it. The only negative in this is that it means I can forget about downloading a netcdfAll.jar release binary and plugging it into my app. But as the majority of my releases the past year have been using SNAPSHOTs, that's not really a problem at the moment.

[2020-06-27 12:53] ViviCoder commented on #335
Thank you for the quick response.
Originally, I wanted to package the netCDF Java library because it is a dependency of HDFView.
I was quite surprised to see that netCDF-Java contains much more than what I would have called netCDF-Java myself.
After digging a bit, I found that the only thing that I really need is the cdm core library, but if packaging other things is not too difficult, I might as

[2020-06-28 23:28] dopplershift commented on #297
Fixed by #302?

[2020-07-02 18:20] furlong-tw opened #346 "NetCdfDataset.openDataset doesn't work for local OpeNDAP/DODS Files"
When working with a set of OpeNDAP/DODS files (.dods, .dds, .das) stored locally the general NetCdfDataset.openDataset method is not capable of of parsing the data.

### Steps to reproduce

- Using version 5.3.3
- Setup a data folder '/home/user/data' that contains wna20200629_00z.dods, wna20200629_00z.das, wna20200629_00z.dds files
- Call NetCdfDataset.openDataset with the path to the OpeNDAP/DOD

[2020-07-06 15:49] ndp-opendap commented on #294
Greetings All,

After a lot of looking at the things I have determined that the source of this problems lies not in netcdf-java, Panoply, or even the Hyrax server, but rather a series of mysteriously bad things inside of AWS. A real lesson in the fragility of service chaining architectures.

I am going to close this so that you can all relax and take it easy from now on. ;)

Nathan

[2020-07-06 15:49] #294 closed

[2020-07-07 22:35] JohnLCaron opened #352 "netcdf4 user defined types not handled correctly"
See TestNc4EnumWriting as an example.

[2020-07-09 13:01] EHJ-52n commented on #334
The problem was in writing the GeoServer response to a temporary file. No problem in GeoServer or netcdf-java.

[2020-07-09 13:01] #334 closed

[2020-07-17 17:14] ViviCoder commented on #335
I have a few more related questions.
What is the license and copyright of all the tables (and other files) located in `resources` directories?
What is the purpose of the files located in `sources` directories?
Concerning the documentation, what would be worth distributing in Debian?
And what would be distributable in the first place? The copyright information looks pretty unclear/incomplete. For i

[2020-07-27 17:44] lesserwhirls commented on #110
Forgot to close this out, but we're now on Gradle 6.5.1 (`maint-5.x`, `develop` branches)

[2020-07-27 17:44] #110 closed

[2020-07-29 08:34] ghansham opened #397 "Data Type changes from ushort to uint in netcdf 4 to 5 migration"
Dear Sir

I had a file with data type ushort.
When I open it with netcdf-4.6.10. It shows data type as ushort (which is correct).
But when I open it with netcdf-5.0.0beta6 it show uint.

Should I try with netcdf-5 latest version.

[2020-07-29 11:27] lesserwhirls commented on #397
It's quite possible there was a bug in beta6. Would you happen to have an example file?

[2020-07-29 14:30] ghansham commented on #397
The bug continues in 5.3.3. And digging deep, bug is in GridDataset grids
and backing variables not the variables returned NetCDFFile class.

On Wed, Jul 29, 2020, 16:58 Sean Arms <notifications@github.com> wrote:

[2020-07-29 14:32] ghansham commented on #397
Try writing a netcdf file with ushot variable with netcdf java 4 and read
it using ncj5.

Regards
Ghansham

On Wed, Jul 29, 2020, 20:00 Ghansham Sangar <ghanshamsangar@gmail.com>
wrote:

[2020-07-30 00:30] ghansham commented on #397
https://github.com/Unidata/netcdf-java/blob/592e87bb314351e11f53dc09aad13c801c9d7944/cdm/core/src/main/java/ucar/nc2/dataset/VariableDS.java#L238

I think this is where ushort is getting converted to uint. I am not sure though. Will check. But this has implication on file writing as well. Does that mean, if we read a ushort variable and then write it using CFWriter2 class, it will write it as uint

[2020-07-30 13:12] lesserwhirls commented on #397
Greetings @ghansham - by default, `NetcdfDataset` and `GridDataset` will apply a set of [enhancements](https://docs.unidata.ucar.edu/netcdf-java/5.3/javadoc/ucar/nc2/dataset/NetcdfDataset.Enhance.html) to a `NetcdfFile` object, and the set of default enhancements in version 5 includes converting unsigned types. If you would like to turn that off, you can pass in the set enhancements you would like

[2020-07-30 17:32] ghansham commented on #397
Thanks.. what is the downside of doing this?Why it is not the default case?
And does the scale offset, if applicable, for any variable, will work or
not?

regards
Ghansham

On Thu, Jul 30, 2020, 18:42 Sean Arms <notifications@github.com> wrote:

[2020-08-05 05:24] rschmunk opened #413 "Preload remote data results in HTTP 414 error response"
Working with a recent NJ 5.4 snapshot.

A user testing a data catalog server reported that using Panoply, he was getting an HTTP 414 error response. In checking into this, I also encounter the issue with toolsUI. I am unable to test using IDV as that app is not notarized to work on up-to-date Macs, but I assume the same would happen there.

The test dataset is presently [located here](http://balto

[2020-08-09 13:19] lesserwhirls commented on #413
Greetings @rschmunk! It looks like `DODSNetcdfFile` tries to "preload scalars, coordinate variables, strings, small arrays", which looks to be most of the variables in that particular dataset. `DODSNetcdfFile` tries to fetch them in one request, but as you've found, that's not going to work. I *think* the fix is pretty simple...maybe. In the meantime, I believe you can call `DODSNetcdfFile.setPrel

[2020-08-10 02:38] rschmunk commented on #413
@lesserwhirls, Yes, calling `DODSNetcdfFile.setPreload(false)` does seem to work, for the time being. Now to decide whether that's the wisest thing.

[2020-08-13 23:27] #413 closed, assigned to lesserwhirls

[2020-08-14 13:54] hyoklee opened #433 "Handling large dataset from S3 fails."
* cdm-core-5.4.0-SNAPSHOT.jar:5.4.0-SNAPSHOT / TDS 5.0.0 beta8
* Linux ip-172-31-25-188 5.3.0-1032-aws #34~18.04.2-Ubuntu SMP Fri Jul 24 10:06:28 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
* openjdk version "11.0.8" 2020-07-14 OpenJDK Runtime Environment (build 11.0.8+10-post-Ubuntu-0ubuntu118.04.1) OpenJDK 64-Bit Server VM (build 11.0.8+10-post-Ubuntu-0ubuntu118.04.1, mixed mode, sharing)
*  Issue:

[2020-08-19 12:31] lesserwhirls opened #450 "Documentation of slurp"
Need to add documentation for the `slurp:` prefix, which triggers the use of `InMemoryRandomAccessFile`. Possibly other prefixes are undocumented as well.

[2020-08-24 17:34] lesserwhirls opened #453 "CoordSysBuilder failing on GRIB collections"
When building coordinate systems for GRIB collections, `CoordSysBuilder` ends up creating coordinate systems with dimensions of the same short name but from different parent groups. This ends up causing the only two failures we see on Jenkins on the 5.4.x branch, specifically on test `ucar.nc2.dt.grid.TestGridSubsetCoordinateSystem.testCoordinateSystemDomain` for file `/share/testdata/cdmUnitTest/

[2020-08-25 21:15] rschmunk opened #455 "unknown type=String thrown opening HDF-EOS file"
I am working with a recent 5.4 snapshot, but the problem described is found to first occur in a version of my software using a 5.3 snapshot from late February. Using software based on an earlier 5.3 snapshot, the problem does not occur. The problem is also seen using a toolsUI based on the 5.4 snapshot, but not the toolsUI 5.0 that I still have on hand.

A user has provided a couple HDF-EOS files

[2020-08-29 07:30] frankier opened #460 "java.io.IOException: Invalid argument when opening file created by h5py"
I am having problems reading HDF5 file created by h5py. Here's the file: https://easyupload.io/4u3wc2 (unfortunately this link expires in 30 days -- I can reupload/resend on request).

Say I try to read it in Java (openjdk 14.0.2 2020-07-14 on Debian buster):
[code]

Using `ucar.nc2.NetcdfFiles` obtained using this in my build.gradle: `compile group: "edu.ucar", name: "cdm-core", version: "5.3.3"`

[2020-08-31 07:43] pnunu commented on #433
- cdm-core 5.3.3
- windows 10  jdk1.8

- issue
Exception in thread "main" java.lang.StackOverflowError
	at ucar.unidata.io.RemoteRandomAccessFile.readFromCache(RemoteRandomAccessFile.java:99)
	at ucar.unidata.io.RemoteRandomAccessFile.readFromCache(RemoteRandomAccessFile.java:106)

[2020-09-10 21:01] jhamberg opened #472 "Editing a NetCDF4 file without producing string-typed attributes"
After opening a NetCDF4 file, redefining its variables and writing new data, most textual attributes appear to have been converted to a `string` format, even though they are not being touched in code:

Before editing:
[code]

After editing:
[code]

* Version of the library: edu.ucar:netcdf4:5.3.3
* System information:
  * openjdk version "11.0.8" 2020-07-14
  * Linux 5.4.0-47-generic ~18.04.1-Ubun

[2020-09-11 21:46] lesserwhirls commented on #472
Greetings @jhamberg! Yes, setting the version to `Version.netcdf4_classic` would prevent that behavior. For existing files, you could use something similar to what is done by the command line utility `Nccopy`:

https://github.com/Unidata/netcdf-java/blob/5fd9cadfa8f5f1b607b39db3a41b40ce83d2a41e/cdm/core/src/main/java/ucar/nc2/write/Nccopy.java#L138-L146

This will still create a new file, but you

[2020-09-15 17:39] 1riggs opened #480 "Errors when converting NEXRAD composites (GINI) to netCDF3/netCDF4"
When writing a NEXRAD composite GINI file to netCDF the resulting file has incorrect values. I have attached a zip file with the original GINI file as well as the netCDF which resulted from using toolsUI to convert the file to netCDF. Note that the same error occurs when using IDV, or Weather and Climate Toolkit, which all rely on netcdf-java.

[nexrad-gini-samples.zip](https://github.com/Unidata/

[2020-09-15 22:56] JohnLCaron commented on #352
Problem with enums:

cdl:

netcdf writeEnumFromCdl {
  types:
    short enum dessertType_t {dirt = 0, pie = 18, donut = 268, cake = 3284};
  dimensions:
    time = UNLIMITED;
  variables:
    dessertType_t dessert(time);
}

ncgen -o C:/temp/writeEnumFromCdl.nc4 -k 3 C:/dev/github/netcdf-java/netcdf4/src/test/resources/ucar/nc2/jni/netcdf/enum.cdl

$ ncdump C:/temp/writeEnumFromCdl.nc4
netcdf C\:/t

[2020-09-16 14:28] JohnLCaron commented on #352
Fixed problems with reading enums in netcdf4 files (I hope) in PR #479 for version 6.
Wouldnt be hard to backport for ver5.

[2020-09-17 03:16] brentlemons opened #482 "Processing openInMemory fails for non-filesystem datasets"
version: 5.3.3
Java 11
linux and macos filesystems

Call in question:
`NetcdfFile ncf = NetcdfFiles.openInMemory("s3test", data);`

Exception:
[code]
openInMemory creates an [InMemoryRandomAccessFile](https://github.com/Unidata/netcdf-java/blob/fa73b22e7fffcda171844a32390051b18f01acfe/cdm/core/src/main/java/ucar/nc2/NetcdfFiles.java#L633). The [filename](https://github.com/Unidata/netcdf-java/blob

[2020-09-21 00:05] jhamberg commented on #472
Thank you! I could not get `nccopy` to work with my file but the Java-based approach worked.

[2020-09-21 00:05] #472 closed, assigned to nobody

[2020-09-22 20:51] 1riggs commented on #480
Happy to see this addressed so quickly! Is there a better way to start using netCDF-java with this fix than building based on the maint-5.x.x branch?

[2020-09-22 21:41] lesserwhirls commented on #480
@dopplershift and I paired up and were able to knock it out somewhat quickly once we got in the same room, although we had to dig through some GEMPAK code to see how these GINI files were actually encoded (as far as we can tell, the way these coefficients are encoded isn't documented outside of the GEMPAK source code). I just pushed a snapshot version of toolsUI that has the fix if you'd like to g

[2020-09-22 23:57] 1riggs commented on #480
I very much appreciate the effort and thanks for the link!

I converted the sample data I included in the initial issue to netCDF4 and things are looking good for the most part. The statistics are in the expected range but the no data value still seems suspect. According to GDAL the no data value is 9.96920996838686905e+36, I admit I'm new to this radar data stuff, but I'm concerned that the value

[2020-09-23 12:16] lesserwhirls commented on #480
I can certainly see why that no data value would raise an eyebrow! In this case, there isn't an explicit attribute being set on the variable `Reflectivity` to indicate missing or invalid data. Software will often interpret the `_FillValue` of a netCDF variable to represent missing data, and the default `_FillValue` used for a variable of type `float` is `9.96920996838686905e+36`.

[2020-09-23 16:27] 1riggs commented on #480
Ah that makes sense. Thank you very much for the insight and the bug fix!

[2020-09-23 16:27] #480 closed, assigned to lesserwhirls

[2020-09-26 12:30] lesserwhirls commented on #433
I've been trying to reproduce this using the latest code, but so far I have not had any luck. The location where the overflow is happening indicates that we are likely in an infinite regression situation, which is not good (I'm going to make a change to better handle that case).

Would you be able to test with your configurations using a snapshot version of the TDS? https://artifacts.unidata.ucar.

[2020-09-26 15:54] lesserwhirls commented on #460
We've been taking a look at this one, but nothing figured out quite yet. The HDF fractal heap is somewhat complex. NetCDF-Java has implemented a pure java HDF5 reader - that's why you are able to use ncdump from the C library successfully (as it sits on top of the HDF5 C library when dealing with HDF-5 related I/O), whereas we end up with a failure going through the java stack. We are reading that

[2020-09-30 19:08] dopplershift opened #505 "Error opening NIDS storm track product"
[This NIDS product](https://github.com/Unidata/netcdf-java/files/5307736/Level3_GRR_NST_20200930_1827.nids.gz) yields:

when opened on thredds-test.

[2020-10-01 18:26] hyoklee commented on #433
I tried the snapshot and I got:
[code]

[2020-10-06 00:00] tombrauer commented on #228
I recently hit this bug with netcdfAll-5.3.3 when trying to open this grib file:
[ST4.2005010100.01h.zip](https://github.com/Unidata/netcdf-java/files/5330658/ST4.2005010100.01h.zip)

The file was retrieved from: https://data.eol.ucar.edu/cgi-bin/codiac/fgr_form/id=21.093

I was able to open the file using v4.6.15 but noticed the regression after migrating to v5.3.*

[2020-10-06 11:36] lesserwhirls commented on #228
I believe this has been fixed in `5.4.0-SNAPSHOT` - if you'd like to give that a try, it can be accessed [here](https://artifacts.unidata.ucar.edu/repository/unidata-all/edu/ucar/netcdfAll/5.4.0-SNAPSHOT/netcdfAll-5.4.0-20201003.065226-16.jar).

[2020-10-06 15:34] tombrauer commented on #228
I updated my build script to use cdm-core and grib libraries v5.4.0-SNAPSHOT and can confirm this bug is fixed. Thanks!

[2020-10-07 18:29] JohnLCaron opened #513 "NetcdfDataset read using ucar.ma2 fails to enhance sequence or vlen nested in a Structure."
NetcdfFile is ok, but reading with NetcdfDataset.read() and enhancing fails.
Problem is in ucar.nc2.dataset.StructureDataEnhancer.
True for all versions using ucar.ma2.

see
TestDir.cdmUnitTestDir + "formats/netcdf4/vlen/IntTimSciSamp.nc";
TestDir.cdmUnitTestDir + "formats/netcdf4/vlen/cdm_sea_soundings.nc4";

This is fixed in version 6 when using ucar.array, see ucar.array.TestReadArrayProblem.te

[2020-10-07 18:44] JohnLCaron commented on #460
Did you upload this file somewhere?

[2020-10-07 21:08] ArnaudDumont commented on #207
Has there been any more thought to adding support for CF-Radial to the CDM? Even better, is there any hope that CF-Radial would ever be supported in TDS for rendering though ncWMS? Longshot, maybe, but it seems that if the netCDF library could do the coordinate transformation to produce a cartesian coverage, ncWMS would be able to render it. We'd really like to generate radar imagery on-the-fly wi

[2020-10-07 23:18] lesserwhirls commented on #167
Ok, so we'll put CFP on the shelf until the radar IOSP rewrite, because yikes. Unidata/netcdf-java#514 fixes the data word size issue by using the word size encoded in the file rather than relying on hard-coded exceptions for differential phase.

[2020-10-08 14:19] lesserwhirls commented on #460
You can snag a copy [here](https://drive.google.com/file/d/1ybZ6ZASCjZOQAsjlU6LyKW8I2zKIHdV1/view?usp=sharing).

[2020-10-08 17:21] lesserwhirls commented on #505
So we're blowing an array that has a hardcoded size, specifically the arrays that track the offsets and size of the special symbol packets:

https://github.com/Unidata/netcdf-java/blob/0fe2acf0eb246a147a45452948106db5c089d3e2/cdm/radial/src/main/java/ucar/nc2/iosp/nids/Nidsheader.java#L602-L617

From what I can understand, in this specific case we're assuming that we won't have more than 250 past

[2020-10-08 18:13] lesserwhirls commented on #505
It looks like the current limit is 250 locations in total for all storm tracks, not per storm track, and this file has 302.

[2020-10-08 19:42] dopplershift commented on #505
I'm not aware of any hard limits in the spec. Would probably be best to use a proper dynamic data structure rather than allocating arrays of fixed size.

[2020-10-09 17:27] #346 closed

[2020-10-09 17:43] lesserwhirls commented on #346
Thank you for your report @furlong-tw! This is fixed in the latest 5.4.0 SNAPSHOT. You will only need the `.dods` and `.das` files - more details can be found at https://docs.unidata.ucar.edu/netcdf-java/5.4/userguide/dataset_urls.html#opendap-datasets.

[2020-10-16 13:42] hyoklee opened #524 "Allow regular expression in NcML."
This is not a bug but an enhancement request. It would be nice if NcML allows regular expression to edit metadata in bulk.

E.g., update **units** attribute value that has **latitude** in variable name.

[code]

[2020-10-22 13:42] Mikhail-Aoun opened #532 "EOFException on NCDump data"
Hi,
As explained in [https://github.com/Unidata/thredds/issues/1342](https://github.com/Unidata/thredds/issues/1342), we've found an issue when trying to read data from some particular netcdf files.
The same bug happens with Tools UI latest stable release (Version 5.3.3) and the same netcdf files as the one attached in the other issue. This time, we met an EOFException in the ucar.nc2.internal.ios

[2020-10-24 11:45] #532 closed, assigned to nobody

[2020-11-07 17:08] JohnLCaron commented on #513
This is fixed in ucar.array, which will replace ucar.ma2.
Could use some more unit tests for StructureDataArrayEnhancer.

[2020-11-07 17:11] JohnLCaron opened #552 "Nested aggregations are not working in ver6"
See ucar.nc2.ncml.TestAggNested:

[code]

Debugged as far as AggregationOuter#buildCoords.
Will remove that test for now.

[2020-11-07 17:20] JohnLCaron commented on #552
The first nested aggregation has 19,358 coordinates.
The second nested aggregation has 365  coordinates.
Total is 19,723, but the code is returning 38716 = 2 * 19358.

[2020-11-14 15:05] ViviCoder commented on #335
Another comment: in the subprojects that include code from third-party software components (buildSrc, waterml, testUtil), it is not clear what actually comes from the original software and what has been added by netcdf-java, because there is often no individual copyright statement.
Of course, you can use the same license as the original software for these subprojects, but you probably cannot use t

[2020-11-17 22:35] JohnLCaron opened #565 "TDS NCEP MRMS/Model needs config change"
MRMS/Model
Has two gds, with slight difference in longitude. Likely encoding error.

 compare gds1 - gds22
  Start x diff : -0.000992
  Start y diff : 0.000000
  End x diff : -0.000992
  End y diff : 0.000000
  Center lon diff : 0.000000
  Center lat diff : 0.000000

Can use the following in tds config catalog to fix:

[code]

Then regenerate all ncx4 files.
After that, you should see that theres

[2020-11-27 00:42] rschmunk opened #572 "valid_range and packed data."
Working with the latest 5.x maintenance SNAPSHOT.

A user has a test dataset with a variable that looks like
[code]

Note the negative scaling factor.

When the dataset is open enhanced, the data are all reported as NaN. The reason for this seems to be that the `isInvalidData` method in `VariableEnhancer` and `EnhanceScaleMissingUnsigned` compares the unpacked data value to the unpacked valid rang

[2020-11-30 23:02] JohnLCaron commented on #256
Hi Martin:

Im looking over your org.opengis.wrapper.netcdf code to see what it looks like, and what changes would be needed to use the new netcdf-java APIs. Our API  is extensively rewritten and not backwards compatible.  We are using a 6 month major release schedule, and look to release version 6 by the end of the year, and start version 7 after that.

We are considering the possibility of addin

[2020-12-01 00:09] desruisseaux commented on #256
Hello John

This is good news! A separated module wrapping new netCDF API looks good to me. I propose to implement GeoAPI 3.0.1, which is current OGC official release and is deployed on Maven Central. In Apache SIS and in PROJ-JNI wrappers I have a separated branch named "geoapi-4.0" which implements GeoAPI 4.0-SNAPSHOT, but I do that only for anticipation. I suggest to omit that branch if too cum

[2020-12-01 01:26] lesserwhirls commented on #572
Greetings @rschmunk! Excellent breakdown of the issue. I think I have a fix for this along the lines that you suggest and should have something in place tomorrow morning.

[2020-12-01 04:17] ethanrd commented on #572
Not sure this affects the underlying issue but the mismatch between data variable and `valid_range` data types caught my eye.

Does the test dataset pass CF compliance checkers? Both CF ([section 8.1](http://cfconventions.org/Data/cf-conventions/cf-conventions-1.8/cf-conventions.html#packed-data)) and [NUG](https://www.unidata.ucar.edu/software/netcdf/documentation/NUG/best_practices.html#bp_Missi

[2020-12-01 04:56] rschmunk commented on #572
@ethanrd, Astute observation but… it appears that when I did a copy and paste from the Panoply CDL/info pane into the Github form, I had Panoply set to display "enhanced" CDL. My bad.

Viewing the variable unenhanced it does indeed look like
[code]

[2020-12-01 16:19] ethanrd commented on #572
@rschmunk - Ah, right. That makes sense. Thanks.

[2020-12-04 14:42] lesserwhirls commented on #433
Ok, I was able to reproduce this  with a few other datasets and it's now fixed (will be making a release of netCDF-Java today). Sorry it took so long! The fix should be available in [this](https://artifacts.unidata.ucar.edu/repository/unidata-snapshots/edu/ucar/tds/5.0.0-SNAPSHOT/tds-5.0.0-20201203.124532-38.war) SNAPSHOT of the TDS, as well as the latest TDS Docker image of `5.0-SNAPSHOT`.

[2020-12-05 03:38] JohnLCaron commented on #256
Hi Martin:

1. Why do you recommend against using "an existing JSR-363 implementation" ?
2. Downgrading to GeoAPI 3.0.1 seems like the right thing to do.
3. How complete is the existing org.opengis.wrapper.netcdf towards implementing all of geoAPI?

Reagrds, John

[2020-12-05 09:27] desruisseaux commented on #256
Hello John

It is not exactly a recommendation against using an existing JSR-363 implementation. It seems to me that UCAR library has its own unit system, in which case I assume that using that system may give more consistency with UCAR internal working. If a user gets a unit from UCAR (e.g. from some read operation) and later gave that unit to another UCAR method (e.g. to some write operation), w

[2020-12-07 22:46] haileyajohnson opened #585 "Variable.setCachedData vs. Variable.Builder.setSourceData"
Updating the IOSP example docs (#525) exposed a small discrepancy in the public API for caching variable data between v.  5 and 6:

v.5: `Variable.setCachedData(Array cacheData)` is deprecated in favor of `Variable.Builder.setCachedData(Array cacheData)`.

v.6: 'Variable.setCachedData(ucar.array.Array cacheData) still exists, but is `protected` and called by Variable reads.
`Variable.Builder` repl

[2020-12-10 02:07] rschmunk commented on #572
#575 was applied to take care of this in 5.x-maint. But did it get up-ported to 6.0? If so, then this issue can be closed. If not, … … …

[2020-12-11 06:37] lakka-sails opened #592 "CoordinateAxis1D.getMinEdgeValue errors"
ucar.nc2.dataset.CoordinateAxis1D.getMinEdgeValue() is non-idempotent method.
By default it returns invalid value,  getMinEdgeValue() == getMinValue(). If you call getCoordEdge(i), it returns valid value:

For example:
[code]

[2020-12-11 12:49] lesserwhirls commented on #585
I think bringing it back a wrapper with a warning makes sense. @JohnLCaron - anything I'm missing?

[2020-12-11 13:05] lesserwhirls commented on #572
Yeah, I still need to port it to `6.0`. Let me knock that out real quick...hopefully...

[2020-12-11 17:53] #572 closed, assigned to nobody

[2020-12-11 18:07] lesserwhirls commented on #572
Looks like we're good. Thanks @rschmunk!

[2021-01-07 15:55] hyoklee commented on #433
@lesserwhirls , I tested your patch and it seems better. However, I can't dump ASCII value with the following error:

[code]
I adjusted the limit in threddsConfig.xml but it doesn't seem to be honored:
[code]
Also, Panoply can't plot MODIS 250m longitude dataset with 8120x5416 dimensions. It throws "Connection Reset" message and kills the Tomcat server. Thus, I'm still doubtful about the fix.

[2021-01-08 23:53] dopplershift commented on #433
I htink you need to adjust `asclimit` like:
[code]

[2021-01-25 18:55] RyanJHeld commented on #219
I'm having the same issue. @JohnLCaron , what you have pasted there also references `NetcdfFiles.makeValidPathName`. The method actually still exists in 5.4.1, but now it's private. The docs still need to be updated.

[2021-01-25 20:43] SethChampagneNRL opened #600 "H5header warnings interfere with System.out logging"
H5header warnings set to true cause all logging to System.out to break. Calling `H5header.setWarnings(false);` allows for logging to work again.

It seems this line is the cause. It is hijacking System.out

https://github.com/Unidata/netcdf-java/blob/2292da0d2ad5118e62d9a9d52838759c5c189142/cdm/core/src/main/java/ucar/nc2/internal/iosp/hdf5/H5header.java#L184

[2021-01-30 20:58] desruisseaux commented on #256
The Apache Software Foundation (ASF), the Open Geospatial Consortium (OGC) and the OSGeo foundation will do a [joint code sprint on February 17 to 19](https://www.ogc.org/pressroom/pressreleases/4397). I proposed an OGC GeoAPI track during that code sprint, with tasks listed in a https://github.com/opengeospatial/joint-ogc-osgeo-asf-sprint-2021/issues/2 comment. Would it be an opportunity for star

[2021-02-11 18:28] desruisseaux commented on #256
Hello John

I would like to take the opportunity of OGC/ASF/OSGeo code sprint next week for getting the ball rolling. I would like to create a GitHub source code repository and start migrating the current GeoAPI wrappers for UCAR library. What should be the actions?

* Do we create a repository in UCAR group, or do I create a temporary repository in some personal space for giving you more time to

[2021-02-11 21:10] lesserwhirls commented on #256
Greetings @desruisseaux! I think the code sprint would be a great opportunity to start this work. Let me ask a few others at Unidata if they have plan to attend already, and if not, I'll get signed up. I'm happy to setup a repository within the Unidata organization for this effort. In terms of a package name, not quite sure. Do you have any suggestions?

[2021-02-11 21:28] desruisseaux commented on #256
Hello Lesser, thanks for the reply! For the package name, I suggest something starting with `ucar` for consistency with existing UCAR API. Maybe `ucar.geoapi`?

[2021-02-16 22:01] smalyala opened #602 "ConversionException class not found error"
Hi, just upgraded from cdm-4.5.5 to cdm-5.1.0. After doing so, the behavior of `NetcdfDataset.openDataset()` is causing errors for me. What was previously working is now resulting in this error:
[code]

After looking at the source code, my guess is the **catch** block here is failing: https://github.com/Unidata/netcdf-java/blob/fdf4bdcccdb4b2272c11e97e2482dd41cc1cc94f/cdm/src/main/java/ucar/nc2/un

[2021-02-16 22:17] lesserwhirls commented on #256
Greetings @desruisseaux - it looks like I missed the deadline to register (sorry about that). Would I still be able to drop into the GeoAPI virtual room?

[2021-02-16 22:18] desruisseaux commented on #256
I think so. Let me send an email to the organizer.

[2021-02-17 14:26] desruisseaux commented on #256
Hello all. The GeoAPI channel is open from today to Friday inclusive: https://meet.jit.si/GeoAPI

If anyone is curious about what are the other channels, the complete list is [here](https://github.com/opengeospatial/joint-ogc-osgeo-asf-sprint-2021/blob/master/logistics.adoc).

[2021-02-17 15:28] lesserwhirls commented on #256
Thank you @desruisseaux! I'm going to drop in the GeoAPI virtual room today at 1:30 EST.

[2021-02-17 18:24] lesserwhirls commented on #602
Would you mind trying the same, but with `v5.4.1` (the latest release)?

[2021-02-17 19:18] smalyala commented on #602
Hi, thanks for the quick response. I tried with cdm-core-5.4.1.jar but unfortunately same result :(

[2021-02-17 19:47] lesserwhirls commented on #256
For those following along, the initial work on this effort will be done over at https://github.com/Unidata/geoapi-netcdf-java.

Here is a summary of the next steps (much more detail above):

* Move the netCDF-java based wrappers from [their current location](https://www.geoapi.org/java/examples/netcdf/org/opengis/wrapper/netcdf/package-summary.html) into the new, temporary repository.
* Upgrade th

[2021-02-17 19:51] lesserwhirls commented on #602
Would you be able to provide a sample file, or the output from `ncdump -h` (if the file is netCDF)?

[2021-02-17 20:14] smalyala commented on #602
Sure thing. This file is rather large around 300 MB. How do you prefer I pass it to you?

[2021-02-17 20:29] lesserwhirls commented on #602
If you have a Google account, I believe you could upload a copy of the file on your Google Drive and post a shared link (I'd let you know when I download it so that you could remove access). We also have the ability to accept large files ~[here](https://ramadda.unidata.ucar.edu/repository/entry/upload?group=173e7b2c-b41b-411f-bbc8-40805f467da2)~ (link not working...one moment).

[2021-02-17 20:33] lesserwhirls commented on #602
Ok, ignore that last link. If Google Drive isn't an option, the output from `ncdump -h` (or the [java version](https://docs.unidata.ucar.edu/netcdf-java/current/userguide/cdm_utility_programs.html#ncdump), if it's not a netCDF file) might be enough for this particular issue.

[2021-02-17 21:01] smalyala commented on #602
Results of `ncdump -h`:

[code]

[2021-02-18 17:47] desruisseaux commented on #256
Hello @lesserwhirls . If you have a chance, could you connect to the Jitsi room at about 16:00 EST (30 minutes before the brief in the main code sprint room) for a quick update on current state?

[2021-02-18 19:04] lesserwhirls commented on #256
Sure thing, but I will only be able to talk via chat as I will be in another meeting from 15:00 - 17:00 EST. Will take be ok?

[2021-02-18 19:06] desruisseaux commented on #256
Yes no problem. We can also postdone to tomorrow if more convenient.

[2021-02-19 16:52] julienchastang commented on #199
@rschmunk speaking of notarization, we are starting to look into it for the [IDV](https://github.com/Unidata/IDV). Do you, perchance, have any advice or suggestions for us as we embark on this effort? I'm speaking more broadly about the notarization of a Java client application, not specifically about this issue. Did you ever successfully notarize Panoply? Thank you. (ping @yuanho).

[2021-02-19 19:18] desruisseaux commented on #256
Hello @lesserwhirls . If you have 10 minutes available between 15:00 and 15:30 EST (the end of the code sprint), I could share my screen for a small demo and for showing some key points in the code. If you do not have time, no problem.

[2021-02-19 19:33] smalyala commented on #602
Hi, following up on this. Sorry for the rush but this issue is pressing for us because it's blocking deployments.

[2021-02-19 21:22] lesserwhirls commented on #256
I'm so sorry Martin, I'm just now seeing your message. I had planned on trying to join the room today but I could not make my schedule work. I'd love to meet up sometime next week if you have the time / availability.

[2021-02-19 21:36] desruisseaux commented on #256
Sure just let me know when you will be available (no rush). If the https://meet.jit.si/GeoAPI is not open any more, we will create another Jitsi room on another server.

[2021-02-20 03:52] rschmunk commented on #199
@julienchastang and @yuanho, Panoply releases for macOS since IIRC late 2019 have been all been notarized, as have a couple of my other Java apps. There have been a few times, such as the case described in this issue, when I had to tweak the process because of Apple tightening the screws a little more.

Aside from the occasional update, the only problem I have with notarization now is that it used

[2021-02-20 06:13] rschmunk opened #605 "C.S. returns wrong projection handler"
Working with a 5.4.2 SNAPSHOT from this past week.

A user sent me a couple datasets, both HDF5/NC4. Both are lon-lat data with metadata specifying that they are gridded using the `transverse_mercator` projection. Although the metadata are close to identical, when Panoply opens the datasets in enhanced mode and then tries to plot a `Variable` within, the result varies. With one dataset, querying o

[2021-02-20 19:07] JohnLCaron opened #606 "Bug in NDFD time intervals when interval units different from pds units"
Ticket ID: JMQ-641023

Some NDFD datasets use time intervals that are different from PDS time unit. This is not being handled correctly in version 5 and 6. Haven't tested 4.6, but maybe broken there also.

Im working on a fix for 6, probably can be easily backported to 5.

In looking at this, Im reconsidering how time intervals are calculated, and its possible they are still wrong, at least for ND

[2021-02-20 19:14] JohnLCaron commented on #89
Fixed in version 6.

[2021-02-20 19:14] #89 closed

[2021-02-20 19:17] JohnLCaron commented on #113
Deprecated in version 5. Can close.

[2021-02-22 19:41] JohnLCaron commented on #605
Hi @rschmunk can you send a link to sample data? What version of the library do you see this on? Thanks.

[2021-02-22 19:52] JohnLCaron commented on #602
The NoClassDefFoundError implies that the udunits.jar is not on the classpath.

What does your classpath look like, ie what does the java command line look like that generates the error?

[2021-02-22 20:05] JohnLCaron commented on #600
We thought we fixed this at commit https://github.com/Unidata/netcdf-java/commit/0305e989.

What version of the library are you using?

[2021-02-22 20:09] JohnLCaron commented on #585
Good catch!

I dont think anyone should be messing with the internal cache; its all kinds of wrong.
So I think that we should deprecate it in 5, with no replacement.

[2021-02-22 20:13] smalyala commented on #602
I have all the code and dependencies in a JAR file and run it in a docker container. This is the command I use as the entrypoint: `ENTRYPOINT ["java", "-Xmx15g", "-Xms15g", "-jar","PackageName-1.0.jar"]`

[2021-02-22 20:22] JohnLCaron commented on #482
What is in the data array?

The problem with GRIB is that it needs the GRIB index (gbx9) file in addition to the binary GRIB file. So there would have to be a special API for that, telling it to put the gbx file into memory also I suppose.

[2021-02-22 20:24] JohnLCaron commented on #460
Could we add a tag "problems related to the Ellen Generes show" ?

[2021-02-22 20:25] JohnLCaron commented on #455
Can this be closed?

[2021-02-22 20:26] JohnLCaron commented on #453
Can this be closed?

[2021-02-22 20:29] JohnLCaron commented on #397
Enhancement is the default, with some work you can open a GridDataset without it. But why would you?

The scale/offset should work, let us know otherwise.

[2021-02-22 20:31] JohnLCaron commented on #297
Can we close this @lesserwhirls?

[2021-02-22 20:37] SethChampagneNRL commented on #600
@JohnLCaron I am using 5.1.0, and it looks like the fix you referenced is in the very next version. I will update and see if the issue persists. Thanks!

[2021-02-22 20:37] #600 closed, assigned to nobody

[2021-02-22 21:08] JohnLCaron commented on #602
Its likely that for some reason your jar does not contain the package ucar.units.

[2021-02-22 21:12] smalyala commented on #602
I see. I downloaded this jar to use as my dependency: https://artifacts.unidata.ucar.edu/#browse/browse:unidata-all:edu%2Fucar%2Fcdm%2F5.1.0%2Fcdm-5.1.0.jar. Is the `ucar.units` package not included in this jar? If it is, do you know what I need to do to make it findable?

[2021-02-22 21:22] JohnLCaron commented on #602
Use https://artifacts.unidata.ucar.edu/#browse/browse:unidata-releases:edu%2Fucar%2FnetcdfAll%2F5.4.1%2FnetcdfAll-5.4.1.jar

[2021-02-22 21:36] JohnLCaron commented on #181
The problem with GRIB is that we have to write an index file. I think one can control where that index file is kept, but the details probably depend on the calling environment and whether its a single file or a collection. If this is still an issue, I will try to track it down.

[2021-02-22 21:37] JohnLCaron commented on #136
Giving up on this.

[2021-02-22 21:37] #136 closed

[2021-02-22 21:37] #113 closed

[2021-02-22 22:38] JohnLCaron commented on #103
Thanks, you're very right. Will fix in versions 5 and 6.

[2021-02-23 01:26] rschmunk commented on #605
@JohnLCaron, See [file 1](https://www.dropbox.com/s/gfm38it2lf0pc7k/seNorge_v2_0_TEMP1h_grid_2021021813.nc?dl=1) and [file 2](https://www.dropbox.com/s/seq9fa81u2auuze/DSSF_hourly_Region.nc?dl=1). (First file 300 kB, second 2.5 MB)

Both are TM gridded but when I try to make a plot of the `air_temperature_2m` variable in file 1, querying the coordinate system for that var via the following returns

[2021-02-23 01:26] JohnLCaron commented on #585
Ok now that Im thinking clearly:

1. We dont want to make Variable.setCachedData public in ver6. We do need to set the cache in the Variable.Builder, its one of the main ways we get data into a variable. Its just when we build a Variable, we need it to be effectively immutable.

2. Change the deprecation in v5 to "Variable.setCachedData(Array cacheData) is deprecated in favor of Variable.Builder.s

[2021-02-23 01:28] rschmunk commented on #181
@JohnLCaron, I'm still getting the "not a valid CDM file" response when trying to load a remote GRIB file using a recent 5.4.2-SNAPSHOT.

[2021-02-23 02:06] JohnLCaron commented on #605
The difference is that the second file has  global attribute

`  :Conventions = "CF-1.6";`

But the first one doesnt, so the "grid_mappping" doesnt get picked up.

[2021-02-23 04:58] ghansham commented on #397
Actually I am using ncwms2 (that uses ncj 5.0), original data is unsigned
short  (10 bit) data.
Actually there are a few more variables in the file that are computed using
the metadata in the original file.
Now while writing a netcdf file using ncj5, the file size blows up because
unsigned short (2bytes) data get upgraded to integer (4bytes) data.
Temporary work around for me was to change the dat

[2021-02-23 05:59] rschmunk commented on #605
@JohnLCaron, I missed that. But somehow this strikes me as... cough... a deficiency in the `DefaultConventions` class. Or am I being too picky?

[2021-02-23 06:00] rschmunk commented on #455
@JohnLCaron, Probably so. I think @lesserwhirls's patch took care of the problem.

[2021-02-23 13:43] JohnLCaron commented on #605
Yeah, it would be reasonable to review DefaultConventions and consider if it should use more of CF.

But it is for sure a defect in the file itself.

[2021-02-23 13:43] #455 closed, assigned to lesserwhirls

[2021-02-23 13:51] JohnLCaron commented on #217
@lesserwhirls can we close this?

[2021-02-23 13:53] JohnLCaron commented on #226
@lesserwhirls can we close this?

[2021-02-23 13:55] #228 closed

[2021-02-23 14:08] JohnLCaron commented on #397
So if you open the file with `ConvertUnsigned` turned off, does that solve the problem? Or you are saying ncwms opens it and you dont have a way of changing that?

Where does the conversion from ushort to integer happen?

Where do you "change the data type from ushort to short"?

[2021-02-23 15:10] ghansham commented on #397
My data is written in hdf5. Then I create a netcdf file from that hdf5
adding a few data variables while computing them from metadata. In this
process, the ushort variables in the original hdf5 get upgraded to int
while writing them to nc file.

I change the data type from ushort to short while writing nc so that it
doesn't expand to int. I can share you the code whatever I am using.
I can modify

[2021-02-23 15:21] JohnLCaron commented on #397
You read in an hdf5 file and write out an netcdf3 file. netcdf3 doesnt have an unsigned type, so it gets converted to signed. The only way to safely do that is to promote ushort to int, causing a 2x expansion.

You change the data type from ushort to short to prevent the conversion. Which seems to me to be the best thing to do to not get the expansion. Now you have to document that the numbers in

[2021-02-23 15:30] ghansham commented on #397
I can try writing netcdf4 if it supports unsigned. My area of concern is
that the data can fit in 2 bytes why to expand it in 4 bytes. Its wastage
of space in the name of performance when we know the application can
convert the  only the read ushort array to integer on the move which used
to be the case in earlier ncj versions. I remember there is a class
ucar.unidata.data.DataUtil class in idv re

[2021-02-23 15:41] ghansham commented on #397
Data range is 10 bit (range: 0-1023) only so keeping data unsigned in java
atleast is an overkill.

On Tue, 23 Feb, 2021, 9:00 pm Ghansham Sangar, <ghanshamsangar@gmail.com>
wrote:

[2021-02-23 20:20] smalyala commented on #602
The `open_dataset()` function seems to be working okay now but later on I'm getting a different error. Could you please send me the documentation link for this specific package? I'm wondering if `NetcdfDataset.getVariables()` or `NetcdfDataset.findVariable(var)` have changed because the new error I'm getting is related to these two functions.

[2021-02-23 20:41] JohnLCaron commented on #397
We are doing workarounds for the fact that netcdf3 doesnt have unsigned
types. Use netcdf4 if you can.

On Tue, Feb 23, 2021 at 8:30 AM ghansham <notifications@github.com> wrote:

[2021-02-24 04:20] ghansham commented on #397
I will surely try and see if it works for me.
One more query do I gain in terms of I/O performance when I switch from nc3
to nc4.
Can we write nc4 without compression?
The reason behind these queries is while doing WMS I expect reading from
disk to be the main activity.
So decompressing every time will be expensive. Although ncwms provides
feature based caching on server side, still decompression

[2021-02-24 17:13] #103 closed

[2021-02-25 04:02] rschmunk commented on #605
@JohnLCaron, So it seems that `DefaultConventions` currently isn't able to handle projected grids, as it apparently pays no attention to the `grid_mapping_name` attribute?

[2021-02-25 14:47] robert-lil opened #615 "ucar.nc2.NetcdfFile.toString() method doesn't produce CDL that can be processed"
Version:
[code]

Hi, when I generate a cdl file with ucar.nc2.NetcdfFile.toString() method I don't get a valid CDL file. I am creating it with the following code:
[code]
I then try to generate a netCDF file with ```ncgen``` version 4.7.4 (I do have a use case for doing this!) with the following and get the error:
[code]

It doesn't create the "empty" netcdf file with just the header. It looks like

[2021-02-25 14:59] desruisseaux commented on #191
WKT support can be provided by #256 (formatting already there, parsing would require additional development on wrappers side).

[2021-02-25 15:30] desruisseaux opened #616 "What is the replacement of CoordSysBuilder?"
Hello

`ucar.nc2.dataset.CoordSysBuilder` is deprecated in UCAR netCDF library 5.4.1, but I didn't see a replacement in the [Upgrading to netCDF-Java version 5.x](https://docs.unidata.ucar.edu/netcdf-java/5.2/userguide/upgrade_to_50.html#netcdf-java-api-changes-52x) page. What would be the new way to build a `CoordinateSystem` from a `NetcdfDataset` using custom conventions? For example:

[code]

[2021-02-25 16:31] lesserwhirls commented on #615
The `toString()` method does not produce a strict CDL representation. If you want strict CDL, try something like the following:

[code]

Does that result in output that can be used by `ncgen`?

[2021-02-25 17:40] lesserwhirls commented on #616
Greetings @desruisseaux!

The docs for the latest version can be found at:

https://docs.unidata.ucar.edu/netcdf-java/current/userguide/upgrade_to_50.html#netcdf-java-api-changes-54x

but that entry would direct you to the wiki page for common client changes, but more specifically this is what you are looking for:

https://github.com/Unidata/netcdf-java/wiki/Common-Client-Changes#service-provider-

[2021-02-25 18:55] JohnLCaron commented on #616
Yes, you have to use ucar.nc2.internal.dataset.* to write a custom
CoordSystemBuilder. So expect that for each major version, there may be
some breakage requiring tweakage. But not for minor upgrades.

This prioritizes a smaller API surface vs a previous hope that there would
be lots of contributors.

On Thu, Feb 25, 2021 at 10:41 AM Sean Arms <notifications@github.com> wrote:

[2021-02-25 19:03] JohnLCaron commented on #605
Correct. DefaultConventions is a "if someone doesnt know enough to use
conventions, whats the best we can do?"

grid_mapping_name is a CF thing, it relies on CF vocabularies etc. So, add
CF convention attribute.

For one-offs, you can wrap in NcML if you want.

On Wed, Feb 24, 2021 at 9:02 PM R. Schmunk <notifications@github.com> wrote:

[2021-02-25 21:17] desruisseaux commented on #616
Thanks Sean and John. This `ucar.nc2.internal.dataset.CoordSystemBuilder` class seems similar in spirit to the old `ucar.nc2.dataset.CoordSysBuilder` class. I will try it tomorrow.

It should not be a problem for me if that class changes in a future release because my `CoordSysBuilder` subclass is small. Changes should be manageable. However if version 6 or 7 starts using Jigsaw modules and if `uc

[2021-02-25 21:22] smalyala commented on #602
Following up on this

[2021-02-25 22:52] lesserwhirls commented on #602
There have been some changes between `4.5.5` to `5.1.0` for sure (but you definitely want to use `5.4.1`). If the issue you are running into now is related to the move from `4.5.5` to `5.1.0`, then this section of the documentation might be helpful:

https://docs.unidata.ucar.edu/netcdf-java/current/userguide/upgrade_to_50.html

In terms of those two methods, the javadocs for the current version m

[2021-02-26 15:40] robert-lil commented on #615
Thanks @lesserwhirls I have been able to generate a correct CDL file!

[2021-02-26 15:40] #615 closed, assigned to nobody

[2021-02-26 18:53] JohnLCaron commented on #616
Thanks, Martin. Thats a really good point about Jigsaw modules. We will
factor that in when we start to tackle Jigsaw.

On Thu, Feb 25, 2021 at 2:17 PM Martin Desruisseaux <
notifications@github.com> wrote:

[2021-02-26 20:53] smalyala commented on #602
Thanks for the link. Seems like the return type of `getVariables()` changes from a regular List<Variable> to an ImmutableList<Variable> from `4.5.5` to `5.4.1` which broke our code as we were modifying the returned list. It would be helpful if that was noted in the changes section. Also, I'm curious of the reasoning to change to ImmutableList :)

Thanks again for the help!

[2021-02-26 22:36] lesserwhirls commented on #602
For sure - that change was made in 5.4.1. The [upgrade section for 5.4.x](https://docs.unidata.ucar.edu/netcdf-java/current/userguide/upgrade_to_50.html#netcdf-java-api-changes-54x) says that many of the changes in that release were related to [establishing a public API](https://www.unidata.ucar.edu/blogs/developer/entry/netcdf-java-looking-ahead), and that those changes were described on the [pro

[2021-02-26 22:36] #602 closed, assigned to lesserwhirls

[2021-02-26 22:46] desruisseaux commented on #616
Done and it seems to work. For information regarding what may be in a public API, I override the following `ucar.nc2.internal.dataset.CoordSystemBuilder` methods:

* `protected void identifyCoordinateAxes()`
* `protected AxisType getAxisType(VariableDS.Builder)`

I let you decide if this issue should be kept open as a reminder for public API or be closed.

[2021-02-26 23:49] JohnLCaron commented on #606
[Uploading ds.pop12-18.zip…]()

I am attaching a file with 5 NDFD GRIB2 records from Nov 2020, of NDFD parameter 0-1-8 (Total precipitation).
The first record is problematic for us.

The reference date=2020-11-18T17:30:00Z
The forecast time =0 in units of minutes
The time interval length is 12 in units of hours.

On the face of it, this gives a forecast interval of

  TimeIntervalNew=(2020-11-18T1

[2021-02-26 23:51] JohnLCaron commented on #606
From Timothy Boyer:

Strictly speaking, the forecast time = 0 is incorrect (and the end
forecast time IS correct).  The begin time for the 12 hour interval
ending at 2020-11-19 00Z is 2020-11-18 12Z, which would make the correct
forecast hour = -5.5 hours.  However, our encoding software will not
allow us to specify negative values for the forecast hour.  Therefore,
we've adopted the convention of

[2021-03-01 04:47] mdtdhi opened #620 "Date truncated by cast to long"
Using netcdfAll-4.6.16.1 java library.

I've encountered multiple NetCDF files where the date is truncated by a second in DateUnit.makeStandardDateString(double). The implementation in 4.6.16.1 results in a date string with second precision, but I believe the date is only truncated by a millisecond.

i.e. secs = 89999.999999999985 is incorrectly rounded down to 89999999 milliseconds.

see /cdm/cor

[2021-03-01 16:39] lesserwhirls commented on #620
Do you have an example file that you could share that triggers this issue?

[2021-03-01 22:52] lesserwhirls commented on #616
Thank you for that helpful feedback about what you use from the `CoordSystemBuilder class`, and for the reminder to keep in mind how JPMS will impact things going forward. I would like to start playing with writing `module-info.java` files for our gradle subprojects in version 6.

[2021-03-01 22:54] #606 closed, assigned to nobody

[2021-03-02 00:15] mdtdhi commented on #620
See attached.

Date time should be 2021-02-27 01:00:00. Result is 2021-02-27 12:59:59.

[IDY25402.APS3.group2.slv.2021022600.025.surface.zip](https://github.com/Unidata/netcdf-java/files/6065225/IDY25402.APS3.group2.slv.2021022600.025.surface.zip)

[2021-03-03 10:45] desruisseaux commented on #256
Hello @lesserwhirls . Do you have some availability this week or later for a short presentation (~10 minutes) on what the wrappers can do? During the Joint ASF-OGC-OSGeo code sprint, I presented a demo opening a netCDF file using UCAR library and formatting its Coordinate Reference System (CRS) in Well Known Text (WKT) format using Apache SIS.

[2021-03-04 07:49] ofrisberg opened #625 "Wrong guava version"
When I try to use WmoCodeFlagTables.readGribCodes I get the following error:

com.google.common.collect.ImmutableList.toImmutableList()
java.lang.NoSuchMethodError

toImmutableList was added in guava version 21. I use the jar version 5.4.1 downloaded from https://www.unidata.ucar.edu/downloads/netcdf-java/.

Thanks in advance!

[2021-03-04 13:00] lesserwhirls commented on #625
Thank you for the report! NetCDF-Java 5.4.1 uses Guava 28.0, and `netcdfAll-5.4.1.jar` contains `com/google/common/collect/ImmutableList.toImmutableList.class`. Is it possible an older version of Guava is being found on your classpath before the netcdfAll jar?

[2021-03-04 17:05] ofrisberg commented on #625
Yes, the problem was on my side!

[2021-03-04 17:05] #625 closed, assigned to nobody

[2021-03-07 19:10] JohnLCaron commented on #620
Which exact Date time in the example file are you referring to?

On Mon, Mar 1, 2021 at 5:15 PM mdtdhi <notifications@github.com> wrote:

[2021-03-07 19:10] JohnLCaron commented on #620
Which exact Date time in the example file are you referring to?

[2021-03-10 14:08] lesserwhirls opened #627 "Enum naming in protobuf files; conflicts when auto generating proto class files."
The `protobuf-gradle-plugin` allows for the generation of source code using the `.proto` files shipped with an artifact. The following `build.gradle` demonstrates how this is done using the `cdmr` artifact:

[code]

This will not only extract the `.proto` files from `edu.ucar:cdmr` artifact (stored in the top level of the jar file):

[code]

but it will also extract the `.proto` files from the dep

[2021-03-11 00:04] JohnLCaron commented on #620
I dont see the problem in versions 5 and 6, though I dont have a particular field to check.
Its likely that their analysis is correct for 4.6.

[2021-03-11 00:10] mdtdhi commented on #620
Variable: 'time'

Attributes:
'axis'	'T'
'bounds'	'time_bnds'
'units'	'days since 2021-02-26 00:00:00'
'standard_name'	'time'
'long_name'	'time'
'calendar'	'gregorian'
'_ChunkSize'	1
'_CoordinateAxisType'	'Time'

[2021-03-11 00:28] JohnLCaron commented on #620
version 6:

[code]

days since 2021-02-26 00:00:00
time =
  {1.0416666666666665}

 (-0.020833, 1.041667) == (2021-02-25T23:30:00Z, 2021-02-27T01:00:00Z)

[2021-03-11 21:32] lesserwhirls opened #628 "Versioning UI Preferences"
The preference file generated by ToolsUI or TdsMonitor has changed between major versions of netCDF-java, and results in errors being thrown on the command line when switching between the two (still functional, but spammy). We should look into versioning the preference files generated by the applications. One easy way would be to append a `major.minor` string to the end of the preference filename,

[2021-03-15 20:05] lesserwhirls commented on #256
Hello @desruisseaux! I do have time this week and next to meet you for a demo. What would be your preferred method for coordinating a time?

[2021-03-15 23:33] desruisseaux commented on #256
Thanks for the merge! I will update GeoAPI web site tomorrow for redirecting to UCAR. For a demo, any day of your choice except Thursday is fine for me, if possible sometime between 11:00 and 16:00 Pacific time (I presume this is your time zone?).

[2021-03-16 12:36] lesserwhirls commented on #256
I am in Mountain time (currently UTC-6. In which time zone are you located? How does 12:00 MDT (18:00 UTC) on Friday, March 19th look for you? I'm happy to create a Google Meet for us to use, or we can use another platform if you'd like.

[2021-03-16 12:56] desruisseaux commented on #256
Friday 18:00 UTC is perfect for me. This is 19:00 in my time zone. Google meet is fine for me.

[2021-03-16 13:23] lesserwhirls commented on #256
Excellent - I've just sent out an invite to your geomatys email address for this Friday. Is it ok with you if I invite a few others from Unidata (and possibly @JohnLCaron if he is available?)?

[2021-03-16 13:29] desruisseaux commented on #256
Sure!

[2021-03-24 14:49] JohnLCaron commented on #513
Close, will not fix.

[2021-03-24 14:49] #513 closed, assigned to nobody

[2021-03-24 15:26] JohnLCaron commented on #592
so it looks like you have 360 points, starting at -179.5, with increment 1?

Im not reproducing the problem in version 6, lonAxis.getMinEdgeValue() returns -180 each time.

What version are you using?

[code]

[2021-03-24 15:32] JohnLCaron opened #637 "Consider making CF the default Convention, instead of DefaultConventions."
After 20 years, people assume they are using CF, so when they forget to add a CF conventions attribute, they are surprised it doesnt work. See Issue #605.

[2021-03-24 15:32] JohnLCaron commented on #605
See Issue #637.

[2021-03-24 15:32] #605 closed, assigned to nobody

[2021-03-24 16:21] JohnLCaron commented on #585
Can we close this?

[2021-03-24 16:27] JohnLCaron commented on #397
It depends. You would have to measure it on real datasets. Sometimes compression is faster because it reduces IO.

The general rule is: get it working  (correctly), measure bottlenecks, try to fix, measure if it helps.

[2021-03-24 16:27] #397 closed, assigned to nobody

[2021-03-24 16:40] JohnLCaron commented on #335
Hi @ViviCoder

Im not sure if you are still working on this, but we are working on solving problems with the legacy code, such as:
  1. making our library more modular, so you can just include what you need.
  2. getting rid of library dependencies where possible
  3. getting everything with proper copyrights.

Most/all of the files with additional copyrights are not central to the library, not su

[2021-03-24 16:42] #226 closed

[2021-03-24 16:42] #453 closed, assigned to nobody

[2021-03-24 16:43] JohnLCaron commented on #224
none of these are failing

[2021-03-24 16:43] #224 closed

[2021-03-24 16:43] #585 closed, assigned to nobody

[2021-03-24 16:48] JohnLCaron opened #638 "Make GRIB collections openable with HTTP."
1. Files with indices cant currently be opened through HTTP, because the code doesnt know to look for the indexes on HTTP.

2. If the indices dont exist, should they be created locally?

3. Same problem with OpenInMemory with S3

see issues #181, #482.

[2021-03-24 16:48] JohnLCaron commented on #482
See Issue #638

[2021-03-24 16:48] #482 closed, assigned to nobody

[2021-03-24 16:49] JohnLCaron commented on #181
See Issue #638

[2021-03-24 16:49] #181 closed

[2021-03-24 16:51] JohnLCaron commented on #157
Moving forward, we will not support modifying existing netcdf files. Use the C library for that.

closed, will not fix.

[2021-03-24 16:51] #157 closed

[2021-03-24 16:54] JohnLCaron commented on #111
can we close this @lesserwhirls ?

[2021-03-24 18:07] ghansham commented on #397
Thanks a lot for those guiding words. I have not yet tried nc4 data format
for unsigned data types.

Regards
Ghansham

On Wed, 24 Mar, 2021, 9:57 pm John Caron, ***@***.***> wrote:

[2021-03-24 22:47] JohnLCaron commented on #627
I havent been able to reproduce this yet, so Im not sure how extensive it is. We should be able to solve it if its just in cdmrfeature, which is going away. But we do need to review all protobuf enums.

[2021-03-24 23:03] JohnLCaron commented on #627
legacy indexes - update in 7?
[code]

[code]

[2021-03-24 23:04] JohnLCaron commented on #627
legacy - abandon
[code]

[code]

[2021-03-24 23:07] JohnLCaron commented on #627
cdmr - change now
[code]

[code]

[2021-03-24 23:14] JohnLCaron commented on #627
ok, so:

1. Change the cdmr enums now, before ver6 is released. I think it works to be contained inside of a Message. I hope.
2. ncstream and cdmrFeature are abandoned, and will be moved out of core in ver7.
3. grib and bufr legacy indices need to be left for now, but can be changed if/when we update the indices. Looks like we got lucky and there are no conflicts.

- Since 2 and 3 are legacy, thei

[2021-03-25 14:06] laeubi opened #639 "Allow to pass CancelTask to Variable.read() or readAsync() method"
I'd like to read a ucar.nc2.Variable (a big array) and like to monitor the progress of reading and allow the user to potentially cancel.

A ucar.nc2.util.CancelTask seems the supposed way, but read does not allow to specify one.

As an alternative I can think of to have a method readAsync() that returns a CompletableFuture, that would allow to cancel the future instead and the code can internally

[2021-03-25 14:44] JohnLCaron commented on #639
Thanks @laeubi this is a really good idea. Its a pretty deep change to make this work, but we will be considering how to do so.

[2021-03-25 14:48] JohnLCaron commented on #565
Move to https://github.com/Unidata/tds/issues/125

[2021-03-25 14:48] #565 closed, assigned to nobody

[2021-03-25 14:56] #297 closed

[2021-03-25 14:57] JohnLCaron commented on #230
will not fix.
ncstream is deprecated in favor of cdmr.

[2021-03-25 14:57] #230 closed

[2021-03-25 15:01] #217 closed

[2021-03-25 15:22] JohnLCaron commented on #149
I guess this "works" now.

[2021-03-25 15:22] #149 closed

[2021-03-25 15:24] JohnLCaron commented on #65
May be a TDS configuration isssue?

[2021-03-25 15:27] JohnLCaron commented on #299
I think this issue is complete. Feel free to reopen if needed.

[2021-03-25 15:27] #299 closed

[2021-04-05 14:51] laeubi commented on #639
@JohnLCaron thanks for consideration. Moving away sync to async processing could really speedup things in some cases.

[2021-04-07 20:49] sgdecker opened #643 "Failure to write netcdf file using ToolsUI"
I start up the UI with:
`java -Xmx1g -jar toolsUI-5.4.1.jar `

I open a recent Level 2 NEXRAD file. So far so good aside from this warning:
`Unknown radial product dbp8=8060 tname=CFP (this is the only message you will see about this.)`

I attempt to write to netcdf, using all defaults.

This error appears:
`
Exception in thread "AWT-EventQueue-0" java.lang.ClassCastException: ucar.nc2.NetcdfFileW

[2021-04-07 22:37] haileyajohnson opened #644 "`NetcdfFormatWriter.openExisting` does not work for netCDF4 files."
The nc4Iosp does not correctly support writing to an existing file:

- the location of the ncfile is not used by the iosp, resulting in a null pointer
- the iosp attempts to rewrite existing dimension, variables, and attributes to the file

[2021-04-16 12:23] JohnLCaron opened #655 "Review gradle files for possible simplification"
Are there simplifications that can be made? Is there a reference doc that we can follow?

[code]

Documentation in gradle/README (thanks @sarms !) is a good start.
How do we make this intelligible to future maintainers, including ourselves?

[2021-04-20 19:34] JohnLCaron opened #659 "Ver6 not handling opaque types from hdf5 through cdmr correctly through the ucar.array interface"
See ucar.cdmr.client.TestCdmrProblem#testOpaqueDataType. Note that  doOne() passes, but doTwo() does not.

[2021-04-22 20:49] haileyajohnson opened #663 "make topnav shareable between subprojects"
TopNav content should be shared by the netcdf docs subprojects (user guide, developer guide, ncml, and cdm).
For now, topnav content is not nested, but ideally all projects should be under one dropdown with subprojects nested.

[2021-04-22 20:50] haileyajohnson opened #664 "Make developers guide cohesive"
For now, the developer's guide is just a collection of information, but should be organized into something more digestible.

[2021-04-22 20:53] haileyajohnson opened #665 "Write docs for v6 feature types"
Feature types have changed in 6, without updated documentation.

[2021-04-23 22:11] haileyajohnson opened #667 "Write docs for CoordSystems pages"
Tutorials on how to implement a Projection/Transform are out of date and difficult to follow.

[2021-04-30 04:22] ethanrd opened #669 "Handling of CDL `long`, `int`, and `uint64`"
In CDL, `long` is a [synonym](https://www.unidata.ucar.edu/software/netcdf/documentation/NUG/_c_d_l.html#cdl_data_types) for the `int` data type (4-byte signed integer). In netCDF-Java, [`ArrayType.LONG`](https://github.com/Unidata/netcdf-java/blob/01d8aef292cc7bbcee556657129bc88694613d65/cdm/core/src/main/java/ucar/array/ArrayType.java#L25) and [`ArrayType.ULONG`](https://github.com/Unidata/netcd

[2021-04-30 04:26] ethanrd commented on #669
This CDL snippet:
[code]
When run through `ncgen` and the results through `ncdump` results in this CDL:
[code]
Whereas, when the result of the `ncgen` is read into netCDF-Java and written as CDL, the results are:
[code]

[2021-05-04 21:41] lesserwhirls commented on #643
You are not doing anything wrong, this is indeed a bug - thank you for the report! While I work on a fix, is your ultimate end goal to get the level 2 file into a netCDF file?

[2021-05-05 14:15] sgdecker commented on #643
Yes, I was looking for a quick and dirty way to generate a netCDF file of level 2 radar data. The first Google hit when I looked at how to do this was (website down, so here is the cached version):
https://webcache.googleusercontent.com/search?q=cache:odfqB3nAryYJ:https://www.ncdc.noaa.gov/data-access/radar-data/radar-decoding+&cd=1&hl=en&ct=clnk&gl=us&client=firefox-b-1-e
which led me to the Tool

[2021-05-05 22:56] #663 closed, assigned to nobody

[2021-05-06 15:40] lesserwhirls commented on #643
Ok, cool. So there is a relatively straightforward way to do the conversion from the command line using the Java version of [Nccopy](https://docs.unidata.ucar.edu/netcdf-java/current/userguide/cdm_utility_programs.html#nccopy), which bypasses the need to do use the toolsUI GUI. You will need Java 8 or greater (I used 11). Also, you will need the netCDF-C library installed, as you will need to be a

[2021-05-06 18:07] sgdecker commented on #643
Thanks, the command-line approach works perfectly!

[2021-05-06 19:00] #644 closed, assigned to nobody

[2021-05-09 15:47] JohnLCaron commented on #669
good catch. should be an easy fix.

On Thu, Apr 29, 2021 at 10:26 PM Ethan Davis ***@***.***>
wrote:

[2021-05-10 14:57] JohnLCaron commented on #627
@sarms said:

Reference: https://stackoverflow.com/questions/27030332/solutions-to-resolve-enum-field-naming-restriction-in-google-protobuf-due-to-c

One can either contain the enum in a message, or use a unique prefix (as the style guide suggests).  

In https://github.com/Unidata/netcdf-java/pull/640/files, I chose the former, because it felt more natural. Theres no real readability problem, sin

[2021-05-10 15:10] JohnLCaron opened #671 "Problems with logging bindings in ver6"
Various problems with logger bindings collected here.

[2021-05-10 15:11] JohnLCaron commented on #671
Task :uicdm:ToolsUI.main()
ClassForName java.awt.RectangleSLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/home/snake/.gradle/caches/modules-2/files-2.1/ch.qos.logback/logback-classic/1.2.3/7c4f3c474fb2c041d8028740440937705ebb473a/logback-classic-1.2.3.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/home/snake/.gradle/caches/mo

[2021-05-10 15:17] JohnLCaron commented on #671
./gradlew test

Found slf4j-api dependency but no providers were found.  Did you mean to add slf4j-simple? See https://www.slf4j.org/codes.html#noProviders .

Found slf4j-api dependency but no providers were found.  Did you mean to add slf4j-simple? See https://www.slf4j.org/codes.html#noProviders .

[2021-05-10 16:50] JohnLCaron opened #672 "Make Array implementation classes package private"
ucar.array.ArrayByte etc should be package private.
Add public utility methods to Arrays where needed.

[2021-05-10 18:07] JohnLCaron opened #674 "Explore making Variable generic, eg Variable<Integer>"
Its sad we cant do

     int i1 = v.readArray().getScalar();

or more generally

     Array<Integer> data = v.readArray();

where T comes from Variable<T>.

Looks like a pretty extensive change, not sure of the implications.

[2021-05-10 19:04] lesserwhirls commented on #671
I have a fix for this one (just needed to exclude `slf4j-jdk14` which gets pulled in with `gcdm`).

These are both warnings generated by gretty at configuration time. When you apply the gretty plugin, it checks to see if the project it is being applied to uses `slf4j-api`. If so, it does a check to see if an slf4j binding is in the runtime configuration of the project. It used to be that if one wa

[2021-05-10 19:33] haileyajohnson commented on #672
closed by #673

[2021-05-10 19:33] #672 closed, assigned to nobody

[2021-05-10 21:09] JohnLCaron commented on #671
AFAICT, the warnings only happen on those two modules, was wondering about
that?

On Mon, May 10, 2021, 1:04 PM Sean Arms ***@***.***> wrote:

[2021-05-10 21:46] lesserwhirls commented on #671
On the `develop` branch, only three projects use gretty - `httpservices`, `opendap`, and `cdm-lite`.  We don't see the warning with `cdm-lite` because it has an slf4j binding dependency on the runtime configuration:

https://github.com/Unidata/netcdf-java/blob/62fa2b69f588b202ccdb346682d2460fcb7198cc/cdm-lite/build.gradle#L32

[2021-05-10 21:48] lesserwhirls commented on #627
That all make sense, and sounds good. I'll wrap that move up today. I'll take a stab a moving the enums out of the GridAxis message and see what that looks like. Let me get a working PR.

[2021-05-11 14:21] JohnLCaron commented on #671
Ok by me to close this when #671 is in.

[2021-05-11 14:34] JohnLCaron opened #677 "Failing tests in Jenkins"
Any tests still failing in Jenkins.

[2021-05-11 14:35] JohnLCaron commented on #677
Most of the tests seem to be ones requiring ncx4 files to have been generated.
Now sure what we were doing before where this didnt happen?

[2021-05-11 15:36] JohnLCaron commented on #659
Test is now ucar/gcdm/TestGcdmProblem.java and seems to have been fixed.

[2021-05-11 15:36] #659 closed, assigned to nobody

[2021-05-11 17:32] JohnLCaron commented on #677
Most BUFR files in "formats/bufr/userExamples" are failing for TestGcdmNetcdfFile. Looks like char vars only? Looks like it broke when CHAR recoded as BYTE. Will submit PR.

[2021-05-12 16:13] #671 closed, assigned to nobody

[2021-05-12 18:02] JohnLCaron commented on #677
thredds.inventory.s3.TestMFileS3.bucketAndKeyOsdc

Stacktrace
expected: 1611593614000
but was : 1619161328000
	at thredds.inventory.s3.TestMFileS3.checkWithBucketAndKey(TestMFileS3.java:200)
	at thredds.inventory.s3.TestMFileS3.bucketAndKeyOsdc(TestMFileS3.java:112)

thredds.filesystem.s3.TestControllerS3.testGetInventoryTopBucketDelimiterAws

Stacktrace
expected: 1
but was : 3
	at thredds.filesys

[2021-05-12 18:35] #552 closed, assigned to nobody

[2021-05-13 21:02] lesserwhirls commented on #677
The `.ncx4` files do not exists at the time the gCDM tests run. If I run the `:cdm-test:testIndexCreation` task first before anything else, then the `ncx4` files are available for the gCDM tests. My guess is that by renaming the gradle project, it changed the order of the tests and `cdm-test` no longer ran first. I have things running in order on Jenkins, and we're down to five failing tests (thre

[2021-05-13 21:04] lesserwhirls commented on #669
@ethanrd - there should be a fix for this on `develop` if you'd like to give it a spin 👍

[2021-05-14 19:43] #677 closed, assigned to nobody

[2021-05-17 15:28] JohnLCaron commented on #669
Actually Im going to reopen this in case we want to backport.

[2021-05-17 15:29] JohnLCaron commented on #627
@lesserwhirls can we close?

[2021-05-17 15:30] #616 closed, assigned to nobody

[2021-05-17 15:32] JohnLCaron commented on #592
Assume this is not an issue any more. If still a problem, please reopen with what version you see the problem in.

[2021-05-17 15:32] #592 closed, assigned to nobody

[2021-05-17 15:34] JohnLCaron commented on #64
@lesserwhirls can this be closed?

[2021-05-19 21:20] lesserwhirls opened #684 "Gradle 7"
Rather than migrating the current build (which is itself a vestige of Gradle 3) to Gradle 7, rearchitect the build from scratch using the current best practices. This will allow us the opportunity to shed complexity and ease upgrades to major versions in the future. It might be possible to backport these changes to earlier versions of netCDF-Java, but for now we won't worry about that.

Once the `

[2021-05-21 16:01] #627 closed, assigned to nobody

[2021-05-31 18:51] JohnLCaron commented on #638
Adding InMemoryRAFHttpProvider into ver7 httpservice branch which probably can be used for this.

[2021-06-02 00:01] lesserwhirls commented on #638
I had been looking around the `makeIndex` and `readIndex` methods in `Grib1Index` and `Grib2Index` as a possible place to do this. For the `makeIndex` method, we have the RAF and can do a check if the RAF is an instance of `RemoteRandomAccessFile`. If it is, then we know we need to do something a little more special (HTTP or S3 currently, but perhaps others in the future).

Not sure the best way t

[2021-06-02 13:55] lesserwhirls commented on #111
I still want to get the changes in for HDFS at the RandomAccessFile level. It should not be too bad though...should...

[2021-06-02 15:18] JohnLCaron commented on #638
Its an evolution of InMemoryRandomAccessFile.Provider, which doesnt seem to be used anywhere.

So, just trying to straighten it out. OTOH, maybe it shouldnt be a Provider, just InMemoryRafHttp, something used behind the scenes? What do you think? do we want to support slurp as a user-facing protocol?

Tinkering with it now as part of replacing httpservices.

[2021-06-02 15:44] JohnLCaron opened #690 "Userguide docs general changes"
General issues with the user guide are collected here.

[2021-06-02 15:48] JohnLCaron commented on #690
Im working on bringing

  https://docs.unidata.ucar.edu/netcdf-java/current/userguide/dataset_urls.html

up to date in ver7. Its rather big and complex and Id like to restructure it some.

Id like to experiment with adding its own toc, perhaps to a sidebar on the right?.

I assume that the top

[code]
is for jekyll?

"toc: true" added local toc at the top. Any pointers on how to add to right side?

[2021-06-02 15:59] haileyajohnson commented on #690
(Adding a v7 label so we can separate docs issues by version)

I agree that would help navigate, but I worry that's a pretty big theme change rather than something that makes sense for just a page, but Sean would be the authority on that. Notably, this page has moved from the giant section of "reference docs" to the "CDM datasets" section now - maybe we can split it up into a few more digestible p

[2021-06-02 16:06] JohnLCaron commented on #690
What about separating the tutorial files from the reference files in the git layout? I helps me to remember who Im writing for. Reference docs are for developers, they can have lots of arcane details. In a way, I write those to my future self, trying to remember wtf? Tutorial docs are for users, they need to not assume too much and they dont have to explain all the details.

It appears that those

[2021-06-02 16:08] JohnLCaron commented on #690
BTW, I see how much work has been put in to try to keep these docs up to date. No easy task as we are going through a lot of change and restructuring. Thanks.

[2021-06-02 16:15] haileyajohnson commented on #690
Haha, yes, we had the same discussion recently and now have restructured everything (starting at 6.0) into a Userguide (tutorials), a Developer guide (which is right now just a collection of info with no logical flow), and NcML docs. It's much cleaner and similar to the TDS docs makeover, but it certainly still needs a lot of work, and I think a lot of stuff could be split up or removed entirely s

[2021-06-02 17:42] JohnLCaron commented on #690
Hmmm i see that https://docs.unidata.ucar.edu/netcdf-java/current/userguide/dataset_urls.html is 5.4

Where the 6.0 page?

[2021-06-02 17:48] JohnLCaron commented on #690
I see you have everything in sections under "Tutorial and User Guide". Ill look over that to see how it feels.

1. Should there be a different "Reference section" as I described it?
2. How should the files be laid out in the git repo?

[2021-06-02 17:51] JohnLCaron commented on #690
Perhaps the developer pages should be directly on github?

So Unidata is value adding the user guide?

[2021-06-03 00:49] JohnLCaron commented on #111
what version are you targeting?

[2021-06-03 00:52] lesserwhirls commented on #690
There is sort of a top level listing of documentation on the docs site:

https://docs.unidata.ucar.edu/netcdf-java/

We're working on a little CSS to make it more pretty, but for now, it works. There is a version selector widget at the top left corner of the docs page, so that you can switch between versions of a page easily.

![image](https://user-images.githubusercontent.com/67096/120567470-1ac9

[2021-06-03 00:56] lesserwhirls commented on #111
Version 7 at this point, in a different gradle project like `cdm-s3`, and I might backport if it is not too bad...maybe.

[2021-06-03 00:56] JohnLCaron commented on #690
Instead of using the github wiki, we could just use markdown pages linked from the readme; then its versioned. Its what Im doing on my other project. basic, but github keeps adding features i havenet explored.

[2021-06-03 01:01] JohnLCaron commented on #690
Ok, ill start looking over the above docsets. I couldnt find the latter two from the landing page https://www.unidata.ucar.edu/software/netcdf-java/

[2021-06-03 14:03] JohnLCaron opened #692 "JPMS module names, super-package, and package renaming"
It would be ideal to have JPMS module names follow the "super-package" naming convention, meaning that all code in the module lives under a single package, and no other module has code in that package or subpackage.

But we have legacy code where thats not true. In the list below,
-   leave out packages expected to go away
-   asterisks show modules that shouldnt be a big deal to change
-  bold fa

[2021-06-03 14:05] JohnLCaron commented on #692
Move to discussions

[2021-06-03 14:05] #692 closed, assigned to nobody

[2021-06-07 13:46] JohnLCaron opened #695 "Jenkins failing"
Caused by: java.lang.IllegalArgumentException: Could not target platform: 'Java SE 11' using tool chain: 'JDK 8 (1.8)'.

[2021-06-07 13:53] JohnLCaron commented on #695
https://jenkins-aws.unidata.ucar.edu/job/netcdf-java_develop/259/consoleText

[2021-06-07 16:14] lesserwhirls commented on #695
Yeah, I hadn't run the tests since I updated the jenkins build config to use java 11. It's running now though. I did run the tests on your branch though:

https://jenkins-aws.unidata.ucar.edu/view/John/job/john-caron-netcdf-java/20/

Looks like there were 8 failures on that one.

[2021-06-08 00:52] JohnLCaron opened #697 "Evaluate opendap client code for long term maintainence and risks"
This code is so old, Im not sure we should keep it.
Its possible we need to withdraw it until we can evaluate and rewrite it if needed.

[2021-06-08 15:33] JohnLCaron opened #698 "Inconsistent escaping rules for Opendap Servers."
Opendap (DAP2) servers use square brackets in the query expression. Per the URL spec, these should be escaped.

The apache server allows these unescaped queries through. The TDS behind an apache proxy works correctly whether they are escaped or not. (This is probably the default setting and could be changed?)

The tomcat server will reject unescaped queries. (This is probably the default setting a

[2021-06-08 18:59] #695 closed, assigned to lesserwhirls

[2021-06-09 20:19] irpfander opened #706 "Edit 5.x SystemProperties.md doc to deprecate maxHttpBufrSize"
ucar.unidata.io.http.maxHttpBufrSize is removed from 6x and needs to be deprecated in 5.x SystemProperties.md docs. In 6x, defaultRemoteFileBufferSize is used instead.

[2021-06-10 13:03] skauppin opened #709 "Concurrency problem with Grib2 files using netcdfAll-5.4.1"
NullPointerException when opening two grib2 files concurrently.

version: netcdfAll-5.4.1
java: openjdk version "1.8.0_292" (Ubuntu), java version "11.0.9" 2020-10-20 LTS (Windows)
OS: ubuntu, windows

[code]

Steps to reproduce:
- download two small grib2 files from NOAA: `https://nomads.ncep.noaa.gov/pub/data/nccf/com/gfs/prod/gfs.20210610/00/atmos/gfs.t00z.goessimpgrb2.0p25.f000` and `https://n

[2021-06-10 21:44] lesserwhirls opened #710 "Jenkins hanging on develop branch"
Running the latest `develop` branch, Jenkin has hung twice on the following:

[code]

[2021-06-12 13:05] JohnLCaron commented on #684
Also see #655.

[2021-06-12 13:06] JohnLCaron commented on #655
Subsumed by #684.

[2021-06-12 13:06] #655 closed, assigned to nobody

[2021-06-17 10:22] thomafred opened #723 "NCZarr support"
NCZarr was released with netcdf 4.8, yet I cannot find any reference to it in this repo.

Will this be implemented with version 6, and if so - how do I use it?

[2021-06-17 16:43] lesserwhirls commented on #709
I can confirm this in `5.x`, `6.x`, and `7.x`. There seems to be at least one race condition involved with initializing the `WmoCodeFlagTables` (the `getInstance` method). Adding the `synchronized` keyword  to the modifiers of that method seems to fix the issue. @JohnLCaron?

[2021-06-17 19:30] haileyajohnson commented on #723
Thanks for the question! We are actively developing support for reading both strict zarr (v2) and NCZarr formats using the netCDF-Java library. Once completed, zarr/NCZarr reads will be supported in versions 5 and up.

You'll be able to read zarr data the same way you would read other data formats through the cdm-core public API (i.e. using `NetcdfFiles`).

[2021-06-18 17:57] JohnLCaron commented on #710
Maybe fixed by PR #711 ?

[2021-06-18 19:02] JohnLCaron opened #725 "Incorrect times and dataset classification for "observational" GRIB datasets"
GRIB Collection MRMS_NLDN are being classified as MRC, should be MRUTC. (May be others)
- also occasionally MRMS_BaseReflectivity

MRMS_NLDN is an "observational dataset" where forecast time == reference time always.
The Reference time has hour/min/second fields
But Forecast time is "0 minutes since reference", which makes CDM use minutes as the reference and forecast time unit.
So when time betwe

[2021-06-19 13:28] JohnLCaron opened #728 "GribCollections isRegular fails when offsets do not fall evenly on the hour"
**_tds_index/NCEP/NDFD/NWS/NDFD_NWS_CONUS_CONDUIT.ncx4_** have offsets on the half hour, which the current code cant handle.

isRegular fails, so the dataset is classified as TwoD time2D.

### TwoD time2D vs TwoD regular

In both cases, the netcdf time coordinate variable has to be 2D, and the variables using it have two time coordinates, for example:

[code]
where 65 is the maximum forecast times

[2021-06-19 15:56] JohnLCaron commented on #728
It appears that by luck, we dont need any changes to the ncx4. Just internally represent the offset in minutes rather than hours.

[2021-06-19 16:34] JohnLCaron opened #730 "Problems with Dataset NOAA_GSD/HRRR/CONUS_3km/surface/"
There are ~10 or so unidentified variables in this dataset. So we either have an incomplete or an incorrect table. We should track this down.

Example from cdmUnitTest/tds_index/NOAA_GSD/HRRR/CONUS_3km/surface/HRRR_CONUS_3km_surface_202011230000.grib2.ncx4:

[code]

[code]

[2021-06-19 17:48] JohnLCaron commented on #730
See resources/resources/grib2/noaa_gsd/readme.txt

  - Still missing the following parameters:
    - 0-1-192
    - 0-2-194
    - 0-2-195
    - 0-3-196
    - 0-7-192

[2021-06-19 18:23] JohnLCaron commented on #730
DataViewer "Detail Info" for /media/snake/0B681ADF0B681ADF/thredds-test-data/local/thredds-test-data/cdmUnitTest/tds_index/NOAA_GSD/HRRR/CONUS_3km/surface/HRRR_CONUS_3km_surface_202011230000.grib2.ncx4

[code]

[2021-06-22 13:14] Suheyb opened #735 "Problem After Build"
Hi,
I use Netcdf-Java library in my app. When I run program from Intellij-Idea, I have no problem but when I run app after build, I am getting error while opening grib file. I add my pom.xml file and error log . Can you tell me where is my fault? Thanks for your helps.
[code]
[code]

[2021-06-24 12:12] #735 closed, assigned to nobody

[2021-06-29 00:58] JohnLCaron commented on #725
Fixed by PR #727

[2021-06-29 01:01] JohnLCaron commented on #728
Fixed by PR #729 in ver7.
May not be worth backporting. Only makes NDFD_NWS_CONUS_CONDUIT less effcient.

[2021-06-29 01:02] JohnLCaron commented on #725
Well, could be backported, so Ill leave open.

[2021-07-01 05:39] rschmunk opened #747 "Pls include major version number in issues/pull requests"
It's getting a bit tough out here for us following aged repo feeds to figure out what the latest commits affect and how much we should pay attention to them.

It seems the development branch is now 7.0 (?), but then there's still 6.0, and of course the 5.4 maintenance branch. At least the the 5.x backports usually say so in their titles.

It would help if coders posting issues and/or pull requests

[2021-07-07 03:12] rschmunk opened #753 "Support GRIB2 DRS 42"
This seems to be a problem with 5.4-MAINT up to the current (7?) development branch.

A user sent me a GRIB2 file that netCDF-Java will open, but when one then tries to extract a variable, an "Unsupported DRS type = 42" exception is thrown by the `Grib2DataReader.factory` method. (But note that the same exception could be thrown by `Grib2DataReader.getData`.)

Comparison of the switch statements i

[2021-07-07 03:30] rschmunk commented on #753
Also, it seems that this issue involves use of a Lambert Conformal Conic projected grid.

Note that I posted an issue two years ago involving use of a Lambert Azimuthal Equal Area projected grid, although that manifested as an inability to even open the dataset. See #22.

[2021-07-07 14:28] laeubi opened #754 "Include LICENSE infor in published artifacts"
Currently the jar files do not include the LICENSE file, it would be good to include this alongside the jar so automatic tools can analyses/display the license automatically.

[2021-07-07 21:32] lesserwhirls commented on #710
It hung again last week, but is now working 👍

[2021-07-07 21:32] #710 closed, assigned to nobody

[2021-07-07 21:59] lesserwhirls commented on #753
Usually a DRS isn't implemented due to lack of a sample file. That said, DRS 42 looks to be pretty complicated:

https://library.wmo.int/doc_num.php?explnum_id=10722 (pdf page 132)

Let me see if there is a java port of `libaec` out there that we could use. Otherwise, we'd either have to write our own implementation or start wrapping more C code, neither of which sound like great options.

[2021-07-08 04:40] rschmunk commented on #753
Oh, ugh, a compression scheme.

[2021-07-08 04:43] rschmunk commented on #753
Oh, ugh. Looking at that PDF page. 😱

[2021-07-08 18:42] #747 closed, assigned to nobody

[2021-07-09 00:00] lesserwhirls commented on #754
This is very much doable. Thank you for pointing out that the LICENSE file was missing! It seems like `META-INF/LICENSE` is a pretty common spot - does that work for your purposes?

[2021-07-09 06:01] laeubi commented on #754
yep, that would be suitable!

[2021-07-12 21:09] lesserwhirls opened #759 "[v7.x]: BUFR: Negative and unknown enum value"
### Versions impacted by the bug

v5.x, v6.x, v7.x

### What went wrong?

Report from mailing list:

Hi,

I am using netcdf-java 5.3.3 to read various bufr-files. It works very well, but 2 things are strange:

1. Compared to other tools, I got sometimes different values for the variable `obs.Radiosonde_type`, `-114` in this case. This is a invalid value, since the values of this `enum` are only po

[2021-07-12 21:11] lesserwhirls commented on #759
Test file: [Z__C_LSSW_20210701010100_aero1,IUSD01_LSSW_010000____RASO.zip](https://github.com/Unidata/netcdf-java/files/6804400/Z__C_LSSW_20210701010100_aero1.IUSD01_LSSW_010000____RASO.zip)

[2021-07-12 21:11] lesserwhirls commented on #759
Thank you for your report @netty-jawn!

[2021-07-14 11:07] ghost commented on #759
Thanks!

[2021-07-16 22:52] haileyajohnson opened #766 "[5.x+]ucar.ma2.StructureData is insufficiently documented"
The documentation on [ArrayStructures](https://docs.unidata.ucar.edu/netcdf-java/current/userguide/arraystructures_ref.html) does not provide and example of how to read and write data to a structure member, e.g. creating a `StructureData` object, writing with `NetcdfFormatWriter.appendStructureData`, and reading with `Structure.readStructure`.

[2021-07-20 20:25] lesserwhirls opened #771 "[5.x] FMRC on-disk cache"
### Discussed in https://github.com/Unidata/netcdf-java/discussions/768

<div type='discussions-op-text'>

<sup>Originally posted by **lesserwhirls** July 17, 2021</sup>
In `5.x` we replaced the on-disk cache from `GridDatasetInv` for FMRCs in favor of an in-memory guava cache. The TDS really needs to be able to persist the `GridDatasetInv` cache between reboots, so I'm going to add it back...sort

[2021-07-21 01:41] #771 closed, assigned to nobody

[2021-07-30 13:37] lesserwhirls opened #774 "[5.x]: NcML Logical Reduce using new API"
### Versions impacted by the bug

v5.x, v6.x, v7.x

### What went wrong?

Using `logicalReduce` in NcML when using the new builder-based API has no effect, so likely not implemented yet. Simple example - consider the following NcML:

[code]

When using the old API, the variable `var` looks like `float var(a=5);`, which is expected. Using the new API, it looks like `float var(a=5, b=1);`. Marked in

[2021-08-16 20:08] keitheweber opened #792 "Understanding why converting using aliases fails"
### Discussed in https://github.com/Unidata/netcdf-java/discussions/789

<div type='discussions-op-text'>

<sup>Originally posted by **keitheweber** August 16, 2021</sup>
I wrote a simple set of unit tests that would test converting from one unit to another when instantiating the unit objects by parsing a string. I am not sure what I am doing wrong, but most of these fail. It appears that the alia

[2021-08-17 20:47] #709 closed, assigned to nobody

[2021-08-18 06:55] rschmunk opened #797 "[5.x] (and later?): Unable to open dataset due to exception in H5headerNew"
### Versions impacted by the bug

v5.x

### What went wrong?

A user is trying to open a dataset in Panoply, which is using a 5.4.2-SNAPSHOT from a month or two ago. Although it has an `NC` filename extension, the file is apparently some from of HDF5. So when code in Panoply calls `NetcdfDatasets.acquireDataset`, the acquire fails due an exception thrown by `H5headerNew`.

Unfortunately, all that

[2021-08-18 16:12] lesserwhirls commented on #797
NetCDF-4 files are HDF5 files that, essentially, follow a metadata spec. The NetCDF Users Guide says "the netCDF-4 format intentionally uses a limited subset of the HDF5 data model and file format features.", but it does not explicitly list what those are...and so now that has become a moving target. It looks like the root issue here is that around version `4.3.1`, netCDF-C started to allow for a

[2021-08-20 03:38] rschmunk commented on #797
Thanks for the quick work, @lesserwhirls. This should at least make one Argentine user of Panoply very happy. 😀

[2021-08-21 03:00] rschmunk commented on #797
Great, the update allowed me to open the problem datasets without problem. Then I found out the creators used some offbeat convention such that NJ doesn't discover a coordinate system. 🙄

[2021-08-21 03:00] #797 closed, assigned to lesserwhirls

[2021-08-26 17:56] #792 closed, assigned to nobody

[2021-08-26 18:02] lesserwhirls commented on #792
Rather than keeping these in sync by hand, we'll need to [refactor to pull definitions, aliases, etc. from the `udunits-2` xml files](https://github.com/Unidata/netcdf-java/discussions/806). But, for now, the temperature aliases are in sync.

[2021-08-26 22:46] #754 closed, assigned to lesserwhirls

[2021-09-08 18:03] ghost commented on #759
Any progress in this issue?

Regarding the negative number:
The -114 is not so wrong at all. The Windows calculator gave me this binary representation of both values:
[code]

[2021-09-14 05:57] rschmunk opened #823 "[5.x]: Problem opening NC4/HDF5 file due to data object header magic"
### Versions impacted by the bug

v5.x, v6.x, v7.x

### What went wrong?

A user developing a data product for ESA was unable to open an NC4/HDF5 data in Panoply (currently based on netcdf-Java 5.4.2) due to an "DataObject doesnt start with OHDR" exception thrown by the `H5objects` class. The same problem occurs using toolsUI 5.4.2 and the most recent IDV download. (FWIW, the file does open in HDF

[2021-09-14 15:55] lesserwhirls commented on #823
Hmmm...this is indeed an interesting case. The root issue is netCDF-Java is struggling with the `DIMENSION_LIST` attribute of the `ricfer_channel_name` dataset (full path `/Annotation data/Instrumental information/ricfer_channel_name`). The `DIMENSION_LIST` holds a reference, and we are reading the heap address of the reference as 0, which isn't correct. Interestingly enough, if I copy the dataset

[2021-09-14 18:25] haileyajohnson opened #825 "[5.x-7]: top nav links to developers guide and ncml doc sets are broken"
### Versions impacted by the bug

v5.x, v6.x, v7.x

### What went wrong?

top nav links to developers guide and ncml doc sets 404

### Relevant stack trace

_No response_

### Relevant log messages

_No response_

### If you have an example file that you can share, please attach it to this issue.
If so, may we include it in our test datasets to help ensure the bug does not return once fixed?
Note:

[2021-09-15 18:22] JohnLCaron commented on #823
I saw the same thing as you - a zero as a reference in a DIMENSION_LIST
object. I dont remember this specific thing, or a workaround.

It would take me a while to spin up more on it, which I wont be able to do
right now. If nccopy repairs it, its certainly an indication of a bug in
the original hdf5 library, now fixed. Or a lucky coincidence.

On Tue, Sep 14, 2021 at 9:55 AM Sean Arms ***@***.***>

[2021-09-15 18:22] JohnLCaron commented on #823
You could check with hdf5 support..

On Wed, Sep 15, 2021 at 12:21 PM John Caron ***@***.***> wrote:

[2021-09-15 22:31] #825 closed, assigned to haileyajohnson

[2021-09-19 15:16] ViviCoder commented on #335
Hi @JohnLCaron

I am still interested in packaging netcdf-java for Debian, so let me know if you need any input from my side.

[2021-09-25 18:13] JohnLCaron opened #851 "Vertical transform refactor"
VerticalTransforms need to be rethought:
  1) they use ma2.Array instead of array.Array.
  2) they need a NetcdfDataset in their constructor, but NetcdfDataset needs VerticalTransforms to be constructed.
  3) they are not used in the library, are they used by library users?
  4) They are only implemented in CF NetcdfDatasets, Grib does not implement.
  5) Grib no longer is built on NetcdfDataset.

[2021-09-25 18:15] JohnLCaron commented on #851
Ive started down the path of an alternate implementation in ucar.nc2.geoloc.vertical, to see how much trouble it is.

May end up ripping it out.

Deprecating the old in ver7, and removal in ver8, will happen in any case

[2021-09-25 18:16] JohnLCaron commented on #851
ProjectionCT is removed but Projection is needed and stays.

[2021-09-25 18:20] JohnLCaron commented on #766
All deprecated in favor of ucar.array.StructureData in > 5.
Which is also insufficiently documented.

Your decision on documenting ver5, I know this will remain Unidata's version for the foreseeable future.

[2021-09-27 17:05] JohnLCaron commented on #851
See PR #852. Im going to consider this resolved when that PR is in.

Ive attached the new VerticalTransform to the GridCoordinateSystem only, not the dataset.CoordinateSystem. This simplifies constructing both, and fits into the idea of removing functionality from dataset, which is too complex.

Im only implementing new VerticalTransform for those that we have tests files for. Im comparing old and

[2021-09-28 23:06] #643 closed, assigned to nobody

[2021-09-28 23:29] #851 closed, assigned to nobody

[2021-09-28 23:37] JohnLCaron commented on #697
Im delaying the removeal of cdm-lite since thats the local testing framework for the opendap server.

[2021-09-28 23:38] JohnLCaron commented on #697
Im torn about keeping the opendap module. Its a huge amount of work to bring up to speed, and I wonder if its worth it.

[2021-10-03 16:45] JohnLCaron commented on #697
Id like to discuss the possibility of abandoning opendap in ver8

[2021-10-07 19:30] dopplershift commented on #697
Doesn't this imply that netcdf-java would no longer be able to communicate with all DAP servers?

[2021-10-09 18:42] lesserwhirls commented on #697
Yes, that's correct. If it becomes a need, the client can be rewritten from scratch, possibly in a separate Java-based project. Currently, though, it's simply unmaintainable. From what I understand, Unidata plans on supporting netCDF-Java version 5.x long-term, and we're talking about removing this code in version 8.

[2021-10-11 17:00] haileyajohnson opened #876 "[7.x] Document "Upgrade to 7.x" page"
Upgrade page for v7 is currently empty and needs some work.

[2021-10-12 15:32] iapafoto opened #881 "Grib2 data template 50002 bug in data decoding."
### Versions impacted by the bug

v5.x

### What went wrong?

Problem with decimal_scale_factor in Grib2DataReader2.java  getData50002()

ret[i] = (((data[i] * EE) + R) * DD);
must be
ret[i] = (((data[i] * EE) + R) / DD);

or

float DD = (float) java.lang.Math.pow((double) 10, (double) D);
must be
float DD = (float) java.lang.Math.pow((double) 10, (double) -D);

rq: in c source
https://github.com/

[2021-10-13 15:23] JohnLCaron commented on #881
Hi Sebastion, thanks for the fix!. Do you happen to have a GRIB file using
dataTemplate 50002 that we can test against? -John

On Tue, Oct 12, 2021 at 9:32 AM Sébastien Durand ***@***.***>
wrote:

[2021-10-13 15:24] JohnLCaron commented on #881
Im adding this fix to ver8.
Need to add to ver5.

[2021-10-13 20:21] haileyajohnson opened #889 "[Hacktoberfest 2021] Contribute filters to the netCDF-Java Zarr project"
### About
NetCDF-Java recently completed work on beta read support for Zarr data formats. Part of the Zarr project is the implementation of compressors and filters (codecs). Currently, netCDF-Java includes implementation of __Shuffle__, __Deflate/Zlib__, __32-bit Checksums__, and __FixedScaleOffset__, but we're still missing some!

If you have developed or are interested in developing filters in J

[2021-10-13 20:25] sumitsawant commented on #889
@haileyajohnson Can I take care of this ?

[2021-10-13 20:28] haileyajohnson commented on #889
@sumitsawant we'd appreciate any contributions on this!

[2021-10-13 20:30] sumitsawant commented on #889
@haileyajohnson Can you please assign this to me ? I'll get started .

[2021-10-13 20:55] haileyajohnson commented on #889
@sumitsawant thank you for the enthusiasm, but I'm reluctant to assign this to one person; there could be a number of pull requests contributing to this issue, implementing different filters. But you will get Hacktoberfest credit if you submit a PR that's accepted!

[2021-10-14 08:26] iapafoto commented on #881
Hi John,
Please find attached a grib in 50002 format. The decimal_scale_factor is applied in the wrong way with the current version. The decoded values ​​should be around 300 Kelvin (floor temperature)

[](url
[MeteoFrance_Indonesia_T__ISOBARIC_1000_HPA_50002.zip](https://github.com/Unidata/netcdf-java/files/7344007/MeteoFrance_Indonesia_T__ISOBARIC_1000_HPA_50002.zip)
)

[2021-10-19 20:10] JohnLCaron commented on #881
@iapafoto : Thanks, looks great

[2021-10-22 16:58] haileyajohnson commented on #881
addressed by #892, #897, #898, and #899

[2021-10-22 16:58] #881 closed, assigned to nobody

[2021-11-02 22:55] ethanrd opened #921 "[5.x]: Repeating authentication popup when opening NASA GES DISC TDS catalog"
### Versions impacted by the bug

v5.x

### What went wrong?

Opening this THREDDS catalog from the NASA GES DISC resulted in repeated authentication popup windows:

https://gpm1.gesdisc.eosdis.nasa.gov/thredds/catalog/aggregation/GPM_3IMERGHHL.06/2021/catalog.xml

I did not have this problem accessing one of the datasets in this catalog using DAP2, e.g.:

https://gpm1.gesdisc.eosdis.nasa.gov/thre

[2021-11-18 00:04] JohnLCaron opened #932 "[VERSION]: 8 BUFR bit counting fails with embedded tables."
### Versions impacted by the bug

v7.x

### What went wrong?

See TestReadBufrLocal.testEmbeddedBits() to reproduce.

Not sure if this is new or been there forever. The data is ok AFAICT.

### Relevant stack trace

_No response_

### Relevant log messages

_No response_

### If you have an example file that you can share, please attach it to this issue.
If so, may we include it in our test dataset

[2021-11-24 15:07] hugorut commented on #638
@JohnLCaron any updates on this or ways round this problem? Currently I'm unable to process remote grib files because of this issue and it basically means we can't use the lib. I don't have enough knowledge of the internals have confidence to raise a PR for this to help out, otherwise I would. Any help/guidance you could give would be appreciated.

[2021-12-02 02:04] JohnLCaron commented on #38
MRC is working in ver8. Not sure what the status is in < ver8. Im going to close it.

[2021-12-02 02:04] #38 closed

[2021-12-02 02:09] #697 closed, assigned to nobody

[2021-12-07 12:06] desruisseaux opened #951 "Some coordinate system dimensions can be lost if unnamed"
By constructor contract, `Dimension.shortName` [can be null if the dimension is not shared](https://github.com/Unidata/netcdf-java/blob/aa6f7770e6ed04c86cb53bed18e6cc98bfd39c1d/cdm-core/src/main/java/ucar/nc2/Dimension.java#L50) (i.e. when a dimension is private to a variable). When this is the case, then the only criterion left for allowing `Dimension.equals(Object)` to differentiate two dimensio

[2021-12-08 16:55] JohnLCaron commented on #951
Hi Martin:

Thanks for the comments.

The only way that a coordinate can be associated with a data variable is with shared dimensions. I agree that allowing unnamed dimensions is questionable, but I dont see any practical effects on coordinate variables or systems.

Unshared dimensions have been allowed for NetcdfFile for legacy datasets; the idea is that this would be fixed with CoordinateBuilder

[2021-12-08 17:26] desruisseaux commented on #951
Hello John. Thanks for the reply. I'm reading a GCOM-C file from JAXA in HDF5 format. My test file is 1.3 Mb, which is why I didn't attached it to this issue. I get the `CoordinateSystem` instances by a call to `ucar.nc2.dataset.NetcdfDataset.getCoordinateSystems()` — I presume that it uses a builder under the hood but didn't verified. This is this object which, when invoking `CoordinateSystem.get

[2021-12-09 14:03] JohnLCaron commented on #951
HI Martin, can you send me the file in question? Thanks

[2021-12-09 14:34] desruisseaux commented on #951
Sure, I will send it by private email in a few minutes. A `ncdump -h` of that file shows the following header (the key point is that `phony_dim_0` and `phony_dim_1` have the same value):

[code]

The following Java code reproduces the problem:

[code]

Above code prints `1` with above test file, while it correctly prints 2 for any other file where `phony_dim_0` and `phony_dim_1` have different val

[2021-12-09 14:43] desruisseaux commented on #951
I thought that I had your email address, but couldn't find it back. Is there a place where I can upload a 1.3 MB file?

[2021-12-09 15:43] lesserwhirls commented on #951
You should be able to [attach the file to this issue](https://docs.github.com/en/github/writing-on-github/working-with-advanced-formatting/attaching-files) as long as it is compressed (.zip or .gz)

[2021-12-10 18:01] mgwidmann opened #953 "Produce stable 8.0.0 version"
I have the following in my `pom.xml` to use the `8.0.0-SNAPSHOT` from artifacts.unidata.ucar.edu

[code]

The project is setup with continuous integration and publishing to the nexus repository. When backwards incompatible changes are merged, it causes my builds to break when no code changes occurred on my end. For example, recently I've had to fix things like `file.getVariables()` to `file.getAll

[2021-12-10 18:35] dopplershift commented on #953
5.4.2 is the current latest stable release, made in August 2021, so I'm not sure how

The 8.x branch has not had a release, is undergoing a major refactor with the intention of breaking APIs, and is not considered ready for production use. I'll defer to @haileyajohnson and @JohnLCaron on when that's ready for release, but my feeling is not "soon".

If you want stability, follow the semantic versio

[2021-12-15 20:17] JohnLCaron commented on #951
Hi Martin: I agree that something better could be done. What version of the library are you using?

[2021-12-15 20:51] desruisseaux commented on #951
I'm using 5.4.2 downloaded from UCAR Maven repository.

[2021-12-15 21:01] JohnLCaron commented on #951
The problem is that we have 4 anonymous dimensions, and we have to know that the dim0 and dim1 are the same for the two variables Latitude and Longitude, but dim0 != dim1. That is plain to see by inspection of the  Dim0 and Dim1 attributes:

    variables:
      float Latitude(126, 126);
        :Dim0 = "Line grids";
        :Dim1 = "Pixel grids";
        :Error_value = -999.0f; // float
        :

[2021-12-15 21:06] desruisseaux commented on #951
No reason to not use `CoordSysBuilder`, but I would have thought that this is what `NetcdfDataset` is already doing. As shown in the code snippet above, I just open the file with `NetcdfDatasets.openDataset(…)` and ask for the `CoordinateSystem` instances that it built. I did not verified how `NetcdfDataset` build them…

[2021-12-15 21:31] JohnLCaron commented on #951
Yes it does use CoordSystemBuilder, what I meant to say is that we want to make a JAXA specific subclass that can key in on the :DimX attributes and assign shared dimensions.

Since the data variables are also using the same names, there will be two identically named dimensions in each group (Geometry_data and Image_data) with different lengths:

[code]

I guess your software knows all about that

[2021-12-15 21:33] JohnLCaron commented on #951
PS: thanks for the note on NPE in compare(), im changing so nulls arent used (in version 8, not sure about backporting).

[2021-12-15 22:34] JohnLCaron commented on #951
Ive prototyped adding a JAXA CoordSystemBuilder. However, you dont get any CoordinateSystems because the Coordinate Variables (Latitude, Longiture, Time) dont match the data Variables (Cloud_probability, QA_flag, SST).

to do that we would have to include the interpolation code and generate Latitude(Line_grids=1242, Pixel_grids=1250), Longitude(Line_grids=1242, Pixel_grids=1250) etc.

[2021-12-15 22:38] JohnLCaron commented on #951
The current ncdump with prototyped JAXA CoordSystemBuilder:

[code]

[2021-12-16 19:34] desruisseaux commented on #951
A JAXA `CoordinateSystem` would be helpful. Interpolation are indeed needed, but on my side this is already handled. If we can get the `CoordinateSystem` to always have 2 axes instead of 1, this is already a good start (enough for my need, but I agree that it may not be complete).